mixin brands-fridge({title})
  .repair-page-brands
      H2.page-title-h2= title
      .brands-carousel.owl-carousel#js-carousel-3
        .brands-carousel-item-group
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/miele_300.webp" alt="Ремонт холодильников Miele в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/smeg_300.webp" alt="Ремонт холодильников Smeg в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/bosch_300.webp" alt="Ремонт холодильников Bosch в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/siemens_300.webp" alt="Ремонт холодильников Siemens в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/aeg_300.webp" alt="Ремонт холодильников AEG в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/teka_300.webp" alt="Ремонт холодильников Teka в Санкт-петербурге")
        .brands-carousel-item-group
          a.brands-carousel-item__link(href="#")  
            img.brands-carousel-item(src="/assets/img/pictures/brands/samsung_300.webp" alt="Ремонт холодильников Samsung в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/lg_300.webp" alt="Ремонт холодильников LG в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/korting_300.webp" alt="Ремонт холодильников Korting в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/electrolux_300.webp" alt="Ремонт холодильников Electrolux в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/ardo_300.webp" alt="Ремонт холодильников Ardo в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/atlant_300.webp" alt="Ремонт холодильников Atlant в Санкт-петербурге")
        .brands-carousel-item-group
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/beko_300.webp" alt="Ремонт холодильников Beko в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/candy_300.webp" alt="Ремонт холодильников Candy в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/gorenje_300.webp" alt="Ремонт холодильников Gorenje в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/hansa_300.webp" alt="Ремонт холодильников Hansa в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/indezit_300.webp" alt="Ремонт холодильников Indezit в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/liebherr_300.webp" alt="Ремонт холодильников Liebherr в Санкт-петербурге")
        .brands-carousel-item-group
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/panasonic_300.webp" alt="Ремонт холодильников Panasonic в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/philips_300.webp" alt="Ремонт холодильников Philips в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/whirpool_300.webp" alt="Ремонт холодильников whirpool в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/stinol_300.webp" alt="Ремонт холодильников Stinol в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/zil_300.webp" alt="Ремонт холодильников Зил в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/saratov_300.webp" alt="Ремонт холодильников Саратов в Санкт-петербурге")
        .brands-carousel-item-group
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/asko_300.webp" alt="Ремонт холодильников Asko в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/daewoo_300.webp" alt="Ремонт холодильников Daewoo в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/haier_300.webp" alt="Ремонт холодильников Haier в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/hotpoint-ariston_300.webp" alt="Ремонт холодильников Hotpoint-Ariston в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/mabe_300.webp" alt="Ремонт холодильников Mabe в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/pozis_300.webp" alt="Ремонт холодильников Pozis в Санкт-петербурге")
          