mixin brands-washmach({title})
  .repair-page-brands
      H2.page-title-h2= title
      .brands-carousel.owl-carousel#js-carousel-3
        .brands-carousel-item-group
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/miele_300.webp" alt="Ремонт стиральных машин Miele в Санкт-петербурге" title='')
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/smeg_300.webp" alt="Ремонт стиральных машин Smeg в Санкт-петербурге"  title='')
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/bosch_300.webp" alt="Ремонт стиральных машин Bosch в Санкт-петербурге"  title='')
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/siemens_300.webp" alt="Ремонт стиральных машин Siemens в Санкт-петербурге"  title='')
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/aeg_300.webp" alt="Ремонт стиральных машин AEG в Санкт-петербурге"  title='')
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/teka_300.webp" alt="Ремонт стиральных машин Teka в Санкт-петербурге"  title='')
        .brands-carousel-item-group
          a.brands-carousel-item__link(href="#")  
            img.brands-carousel-item(src="/assets/img/pictures/brands/samsung_300.webp" alt="Ремонт стиральных машин Samsung в Санкт-петербурге" title='')
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/lg_300.webp" alt="Ремонт стиральных машин LG в Санкт-петербурге" title='')
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/korting_300.webp" alt="Ремонт стиральных машин Korting в Санкт-петербурге" title='')
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/electrolux_300.webp" alt="Ремонт стиральных машин Electrolux в Санкт-петербурге" title='')
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/ardo_300.webp" alt="Ремонт стиральных машин Ardo в Санкт-петербурге" title='')
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/atlant_300.webp" alt="Ремонт стиральных машин Atlant в Санкт-петербурге" title='')
        .brands-carousel-item-group
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/beko_300.webp" alt="Ремонт стиральных машин Beko в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/candy_300.webp" alt="Ремонт стиральных машин Candy в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/gorenje_300.webp" alt="Ремонт стиральных машин Gorenje в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/hansa_300.webp" alt="Ремонт стиральных машин Hansa в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/indezit_300.webp" alt="Ремонт стиральных машин Indezit в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/liebherr_300.webp" alt="Ремонт стиральных машин Liebherr в Санкт-петербурге")
        .brands-carousel-item-group
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/panasonic_300.webp" alt="Ремонт стиральных машин Panasonic в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/philips_300.webp" alt="Ремонт стиральных машин Philips в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/whirpool_300.webp" alt="Ремонт стиральных машин whirpool в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/stinol_300.webp" alt="Ремонт стиральных машин Stinol в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/zil_300.webp" alt="Ремонт стиральных машин Зил в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/saratov_300.webp" alt="Ремонт стиральных машин Саратов в Санкт-петербурге")
        .brands-carousel-item-group
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/asko_300.webp" alt="Ремонт стиральных машин Asko в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/daewoo_300.webp" alt="Ремонт стиральных машин Daewoo в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/haier_300.webp" alt="Ремонт стиральных машин Haier в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/hotpoint-ariston_300.webp" alt="Ремонт стиральных машин Hotpoint-Ariston в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/mabe_300.webp" alt="Ремонт стиральных машин Mabe в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/pozis_300.webp" alt="Ремонт стиральных машин Pozis в Санкт-петербурге")
          