mixin comments-block
    .comments-block
        H2.page-title-h2 Комментарии
        .repair-page-comments-wrap#sigCommentsBlock
        script
            include ../../../js/plugins/SigComments/SigComments.js
    