.table-container {
    overflow: hidden;
    // height: rem(500);
    transition: 1s;
    max-height: rem(500);
    padding-bottom: rem(100);
    position: relative;
}

.table-container_visible {
    transition: 1s;    
    max-height: 10000px;

}
.table-container__bgrnd {
    position: absolute;
    background: linear-gradient(to top, white, rgba(255, 255, 255, 0.5));
    bottom: 0;
    left: 0;
    width: 100%;
    height: rem(100);

}
.table-container__button {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: rem(100);
    @include justify-center;
    cursor: pointer;
}
.table-container_scroll {
    overflow-x: scroll;
}

.table-container__button_up {
    &:before {
        content: "keyboard_arrow_down";
        font-family: 'Material Icons';
        font-size: rem(50);
        line-height: rem(50);
        color: $colorMain-1;
        font-weight: bold;
        transform: rotate(180deg);
        transition: 1s;
    }
    
}
.table-container__button_down {
    &:before {
        content: "keyboard_arrow_down";
        font-family: 'Material Icons';
        font-size: rem(50);
        line-height: rem(50);
        color: $colorMain-1;
        font-weight: bold;
        transform: rotate(0deg);
        transition: 1s;
    }
}

.page-table {
    color: $dark75;
    @include fontBody(rem(20), rem(28), $colorMain-1);
    
    height: rem(100);
    
    
    border-collapse: collapse;
    width: 100%;
    margin-bottom: rem(50);

    @media screen and (max-width: 800px) {
        width: 100%;
        font-size: rem(18);
        line-height: (rem(20));

    }

    @media screen and (max-width: 500px) {
       
        font-size: rem(17);
        line-height: (rem(20));

    }

    & tr, & td, & th {
        
        padding: rem(15) rem(15);

        @media screen and (max-width: 500px) {
            padding: 2px;

        }
    }
    & th {
        min-height: rem(80);
        border-bottom: 2px solid $dark75;
        // background-color: $colorMain-1-03;
        background-color: $colorMain-1;
        color: $white;
        font-weight: bold;
        text-transform: uppercase;
        text-align: start;
    }
    & td {
        min-height: rem(80);
        
    }
    & tr {
        
        &:hover {
            background-color: $colorMain-1-07;
            color: $white;
            
        }

    }

    & tr:nth-child(2n) {
        background-color: $dark10;
        &:hover {
            background-color: $colorMain-1-07;
            color: $white;
            
        }
    }
}
.table-subtitle {
    font-weight: bold;
    background-color: $dark50;
    color: $white;
    text-align: center;
}