.order-popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 10000;
    overflow: scroll;
    box-sizing: border-box;
    display: none;
    @media screen and (max-width: 1024px) {

    }
}
.order-popup_visible {
    background-color: $dark50;
    @include justify-center;
    @media screen and (max-width: 1024px) {
        align-items: flex-start;
    }
}
// .order-popup_invisible {
    // background: none;
    // left: -10000px
    // display: none;

// }
.callback-popup-bgrnd {
    width: 100%;
    height: 100%;
    background-color: $white;
}
.order-popup-wrapper {
    width: rem(500);
    height: auto;
    border: 3px solid $colorMain-1;
    position: relative;
    padding: rem(10);
    background-color: $colorTextHeader-1;
    border-radius: rem(7);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    @media screen and (max-width: 1000px) {
        width: rem(600);
        
    }
    @media screen and (max-width: 600px) {
        width: 100%;
    }

}
.order-popup__close-button {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    width: rem(35);
    height: rem(35);
    padding: rem(5);
    // border: 1px solid red;
    &:before {
        content: "close";
        @include material-icon(rem(30));
        color: $colorMain-1;
    }

}
.order-popup__title {
    @include fontH3(rem(22));
    color: $colorMain-1;
    white-space: nowrap;
    margin: rem(15) 0 0;
}
.order-popup__descr {
    @include fontH2(rem(17));
    color: $colorMain-1;
    white-space: wrap;
    margin: rem(10) 0;

}
.order-popup-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}
.order-popup-form label {
    display: flex;
    flex-direction: column;
    @include fontBody(rem(16), rem(22));
    margin-bottom: rem(5);
}
.order-popup-form select, .order-popup-form input {
    width: 100%;

}

.order-popup-form-input {
    height: rem(50);
    border: 2px solid $colorMain-1;
    border-radius: rem(5);
    padding: rem(5);
    box-sizing: border-box;
    @include fontBody(rem(18), rem(18));
    color: $dark75;
    &:focus {
        border-color: $dark50;
    }

    @media screen and (max-width: 1000px) {
        
    }
}

.order-popup__type {
    width: 48%;
    @media screen and (max-width: 1000px) {
        width: 100%;
    }
}
.order-popup__brand {
    width: 48%;
    @media screen and (max-width: 1000px) {
        width: 100%;
    }
}
.order-popup__problem {
    width: 100%;
    height: rem(100);
    

    @media screen and (max-width: 1000px) {
        height: rem(140);
    }
    & textarea {
        height: 100%;
        resize: none;
        &:focus {
            border-color: $dark50;
        }
    }
}
.order-popup__contacts {
    width: 100%;
}
.order-popup__street {
    width: 48%;
    @media screen and (max-width: 1000px) {
        width: 100%;
    }
}
.order-popup__house-number {
    width: 22%;
    @media screen and (max-width: 1000px) {
        width: 30%;
    }
}
.order-popup__room-number {
    width: 22%;
    @media screen and (max-width: 1000px) {
        width: 30%;
    }
}
.order-popup__tel-number {
    width: 48%;
    @media screen and (max-width: 1000px) {
        width: 100%;
    }
}
.order-popup__client-name {
    width: 48%;
    @media screen and (max-width: 1000px) {
        width: 100%;
    }
}
.order-popup__date-of-repair {
    width: 45%;
}
.order-popup__time1 {
    width: 25%;
}
.order-popup__time2 {
    width: 25%;
}
.order-popup__consent {
    display: flex !important;
    flex-direction: row-reverse !important;;
    flex-wrap: nowrap;
    justify-content: space-between !important;
    padding-top: rem(20) 0;
    & input {
        width: rem(20);
        height: rem(20);
    }
    p {
        font-size: rem(14);
        line-height: rem(17);
    }

}
.consent-checkbox {
    width: 20%;
    @include justify-center;
}

.order-popup-form-button{
    width: 100%;
    height: rem(40);
    background: linear-gradient(180deg, $colorMain-1, $colorMain-1-05);
    color: $white;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 4px;
    border: 2px solid $colorMain-1;
    letter-spacing: 1px;

    @media screen and (max-width: 1000px) {
        height: rem(60);
    }
}




.order-popup-form-button {

}