extends ../../layout/article_page_layout.pug

block variables
	- var title = 'Как установить стиральную машину?' 
	- var content = ""
	- var pathToImgArticles = domen + '/assets/img/pictures/repair-img/'

block content
	+bread-crumbs({ 
		'Главная': '/',
		'Хозяйке на заметку': domen + '/articles/',
		"Как установить стиральную машину": "#"})

	.article-page-wrapper(itemscope itemtype="https://schema.org/Article")
		h1.page-title-h1(itemprop="name")= title 
		+pageBanner-1({
      title: 'Нужна консультация?',
      text: 'Мы подробно расскажем о возможны неисправностях и стоимости ремонта!',
      pathToImg: domen + '/assets/img/pictures/banner-img-006.webp'
    })
		.page-text(itemprop="articleBody")
			p
				| Стиральная машина – это устройство, которое требует подключения. Подача электропитания это только одно условие для полноценной работы оборудования. После доставки оборудования встает проблема, куда и как правильно установить стиральную машину.
			p
				| Не будем отрицать, что при покупке изделия могут предложить услуги мастера, который выполнит подключение. Обычно за это потребуется заплатить определенную сумму, что не всегда нравится покупателям. Но стоит учитывать, чтобы установить стиральную машину в квартире не требуется специальных знаний или профессиональных инструментов. Но стоит знать, что при таком варианте вам могут отказать в предоставлении гарантийного ремонта.
			p
				| Если не хочется отдавать деньги за установку оборудования, и вы решили сами выполнить подключение, то мы предлагаем изучить статью, которая поможет разобраться в вопросе, как установить стиральную машину.
			h2.page-title-h2 Определение и подготовка места для оборудования
			p
				| Перед покупкой стиральной машины следует определиться, в каком месте она будет стоять. Особенно это касается тех вариантов, когда выбранное место имеет ограниченные размеры. Обязательно замерьте габариты места. Стоит учитывать, что они должны быть хотя бы на один сантиметр превышать габариты будущей покупки. Если стены или пол имеют неровности, рекомендуем добавить еще 1-2 см.
			p
				| В большинстве случаев оборудование устанавливается в определенных местах. Рассмотрим наиболее возможные варианты:
			ol.page-list.page-list-ol
				li
					| Ванная комната. Место обусловлено близостью всех требуемых коммуникаций. Для экономии места, можно попробовать установить оборудование под раковину. Но стоит учитывать, что может потребоваться покупка специальной сантехники для раковины. Но перед установкой стиральной машины в ванной следует понимать, что в помещении почти всегда влажно и избыточная влажность может стать причиной поломки оборудования;
				li
					| Кухня. В помещении также присутствуют все требуемые коммуникации, и не потребуется прокладывание дополнительных магистралей. Если учитывать возможность дальнейшей установки машины при покупке кухонного гарнитура, то можно подобрать вариант со специальным местом для машинки. Но не стоит забывать, что машинка должна располагаться на некотором расстоянии от плиты, духового шкафа или других нагревательных приборов;
				li
					| Туалет. Вариант приемлем скорее для частных домов, где площадь помещения позволяет установить оборудование. В квартирах, где туалет имеет небольшие размеры, установка стиральной машины может вызвать некоторые трудности;
				li
					| Коридор. Вариант можно рассматривать только в безвыходной ситуации, когда кроме коридора установить в других местах невозможно. При таком варианте существуют значительные минусы. Придется проводить коммуникации, машинка будет занимать место и не стоит забывать, что при работе оборудование издает шум, который может нервировать или мешать людям;
				li
					| Чулан или подсобные помещения. Если в квартире присутствует подобное помещение, то можно предусмотреть вариант переоборудование его в прачечную. Стиральная машина не будет мешаться и издаваемый шум не будет никому мешать;
				li
					| Подвал. Такой вариант возможен только для частного дома. Но при этом существуют определенные требования. В подвале должно присутствовать отопление и подведены требуемые для работы коммуникации.
			p
				| Если решили куда поставите стиральную машину, можно переходить к следующим пунктам. Необходимо учитывать состояние пола, где будет стоять оборудование. Если присутствуют небольшие перепады, то ровное положение стиральной машины можно придать с помощью регулируемых ножек. Если перепады значительные, рекомендуем подготовить специальный подиум для оборудования и только после этого проводить установку.
			h2.page-title-h2 Изучение инструкции
			p
				| Перед установкой оборудования рекомендуем внимательно изучить инструкцию. Многие люди не уделяют должного внимания изучению инструкции, хотя там можно обнаружить много полезных советов, которые помогут не только правильно подключить оборудование, но и предотвратить будущие поломки.
			p
				| Не стоит забывать, что если при поломке обнаружится несоблюдение рекомендаций производителя, этот факт может стать причиной отказа в гарантийном ремонте.
			h2.page-title-h2 Подготовка коммуникаций
			p
				| Если хотите избежать дополнительных вопросов по теме, как установить стиральную машину автомат, следует понимать, что в близости от места установки должны присутствовать канализация, точка электропитания и возможность подключиться к водопроводной сети.
			h2.page-title-h2 Подключение к канализационной системе
			p В данном случае существует несколько вариантов подключения:
			ol.page-list.page-list-ol
				li
					| К канализационной системе. Можно использовать специальный вход или установить тройник;
				li
					| Использование сантехники раковины. Потребуется установка разветвителя с возможностью подключения шланга машины;
				li
					| Непосредственно в раковину или унитаз. Несмотря на свою простоту, он считается самым ненадежным способом. Для крепления шланга используется специальный крючок, который крепится к сантехнике, и использованная для свободного вытекания использованной жидкости.
			h2.page-title-h2 Подключение к электропитанию
			p
				| Для безопасной работы оборудование необходимо использовать отдельное подключение оборудования к электричеству. Необходимо обязательное присутствие заземления. Если использовать розетку без заземления, то можно лишиться возможности гарантийного обслуживания и ремонта оборудования.
			p
				| Розетка должна располагаться в близости к машинке. Использование удлинителей не разрешается.
			p
				| Если в месте установки отсутствует розетка с необходимыми требованиями, придется обращаться к электрикам, которые протянут отдельный провод для подключения оборудования.
			h2.page-title-h2 Водоснабжение
			p
				| В большинстве случаев в машине присутствует один вход для холодной воды. Но в некоторых моделях имеются входы для подключения холодной и горячей воды. Использование обоих типов помогает снизить энергозатраты, и вода будет нагреваться быстрее. Но при использовании горячей воды присутствуют свои минусы. В ней могут быть примеси или ржавчина, которые могут стать причиной поломки оборудования.
			p
				| Подключение к водоснабжению осуществляется через выход в водопроводе. Рекомендуем использовать тройник с переходом на металл. После тройника необходимо обязательно установить запорный кран, который может потребоваться для отключения машины от водопровода. Это может потребоваться при длительном отсутствии владельцев квартиры или для ремонта оборудования в случае поломки. Иногда используется тройник с предустановленным запорным механизмом. Но они стоят значительно дороже.
			h2.page-title-h2 Как провести установку и подключение оборудования
			p
				| После доставки оборудования необходимо освободить устройство от упаковки. Следует удалить защиту и избавиться от транспортировочных болтов, расположенных на задней стенке машинки. Они устанавливаются для сохранности внутренних деталей и необходимы только для транспортировки изделия. В освободившиеся отверстия необходимо установить заглушки, которые присутствуют в комплекте к каждой стиральной машине. Не стоит выкидывать транспортировочные болты. Они могут пригодиться для доставки оборудования в сервисный центр при поломке или перевозке оборудования к новому месту установки.
			p
				| Обычно в комплекте присутствует сливной шланг, который необходимо установить в сифонный отвод и закрепить хомутом. Второй конец шланга подключается к канализации. Диаметр сливного шланга может быть меньше входного отверстия и может потребоваться специальная манжета.
			p
				| При установке шланга необходимо следить, что на нем не образовались скручивания и он не перегибался. Конструкцией предусмотрено использование изгиба, который должен располагаться на высоте 60 см от пола. Это позволяет создать естественный гидрозатвор, предназначенный для предотвращения попадание в машину остатков и неприятных запахов.
			p
				| Такой вариант используется, если сливной выход расположен внизу конструкции. Если крепление располагается в верхней части, то изгиб присутствует в конструкции и расположен внутри изделия. В некоторых современных моделях может быть обратный клапан на сливе. При его наличии использование изгиба не требуются.
			p
				| Для подключения к водопроводной сети используется шланг из комплекта. Вначале следует установить сетчатый фильтр, а затем прикрутить шланг с загнутой частью. Другой конец подключается к водопроводной системе. Прилагать излишние усилия не требуется, так как в шлангов присутствуют резиновые прокладки, которые обеспечивают герметичность соединения.
			h2.page-title-h2 Выравнивание машинки
			p
				| При установке необходимо обратить внимание на ровное положение конструкции. Правильное положение позволит уменьшить риск возникновения поломок и предотвратит смещение оборудования. Для проверки положения рекомендуется использовать строительный уровень.
			p
				| Не рекомендуется подкладывать под ножки деревяшки, куски картона, линолеума или другие предметы. При работе стиральная машина может сместиться, и конструкция потеряет ровное положение.
			p
				| Если стиральная машина необходимо установить на кафель, рекомендуем подложить резиновый коврик или приобрести и установить резиновые накладки для ножек.
			h2.page-title-h2 Проверка работы стиральной машины
			p
				| Если работы по подключению выполнены, можно начать проверку работы оборудования. При первом запуске рекомендуем не использовать бельё и запускать режим с максимальной температурой. Включение в работу позволит проверить все соединения, а высокая температура поможет избавиться от пыли или грязи, которые могли попасть внутрь при сборке машинки.
			p
				| Если первый тестовый запуск прошел без замечаний, вода нигде не капает, нет протечек сливного шланга, во время стирки машинка не скачет и не двигается, то все работы выполнены хорошо, можно загрузить белье и запускать стирку.
			p
				| Если во время тестового прогона были обнаружены какие-либо недочеты, то рекомендуем остановить тест и устранить проблемы. Не оставляйте их «на потом».
			p
				| Если обнаружились проблемы, которые вы не можете решить сами, то рекомендуем воспользоваться помощью мастеров по установке оборудования. Не стоит забывать, что от того, как правильно установлена стиральная машина зависит качество выполняемых работ и срок дальнейшей работы оборудования.
			h2.page-title-h2 Заключение
			p
				| Мы надеемся, что после прочтения статьи у вас исчезнет большинство вопросов, как установить стиральную машину в ванной или другом помещении. Если присутствуют все требуемые коммуникации, то с подключением может справиться любой человек.
			p
				| Но если возникли какие-либо сомнения или у вас нет уверенности в собственных силах, то рекомендуем вызвать мастера по установке. Можно обратиться в сервисный центр, изучить рекламные объявления или воспользоваться интернетом. Необходимо понимать, что, если вы неправильно выполните работы по установке, то это может стать причиной поломки оборудования.


	
		.calc-banner.page-banner
			.page-banner-img
				img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/master.webp' alt="Ремонт холодильника в спб")
			.page-banner-content
				.page-banner-content__title 
					p Доверьте ремонт Вашего холодильника профессионалам!
				.page-banner-content__text 
					p  телефоны для связи
					a(href='#')= telNumber_1 
					|  или 
					a(href='#')= telNumber_2 

				.page-banner-content__text Также Вы можете оформить on-line заказ или заказать звонок
				.page-banner-content-buttons
					.page-banner-button.button-order 
						| Оформить заявку
						br
						| on-line
					.page-banner-button.button-callback Заказать звонок 
		