extends ../../layout/article_page_layout.pug

block variables
	- var title = 'Как разморозить холодильник быстро и правильно?' 
	- var content = "Если холодильную установку вовремя не разморозить, то это существенно снизит эффективность ее работы, а в последствие может привести к поломке (постоянная работа компрессора, деформация уплотнителя на дверцах и повреждение деталей под тяжестью ледяного нароста)"
	- var pathToImgArticles = domen + '/assets/img/pictures/repair-img/'

block content
	+bread-crumbs({ 
		'Главная': '/',
		'Хозяйке на заметку': domen + '/articles/',
		"Как разморозить холодильник": "#"})

	.article-page-wrapper(itemscope itemtype="https://schema.org/Article")
		h1.page-title-h1(itemprop="name")= title 
		+pageBanner-1({
			title: 'Нужна консультация?',
			text: 'Мы подробно расскажем о возможны неисправностях и стоимости ремонта!',
			pathToImg: domen + '/assets/img/pictures/banner-img-006.webp'
		})
		.page-text(itemprop="articleBody")
			p
				| Современную кухню сложно представить без холодильника, в котором долгое время продукты питания сохраняют 
				| свои полезные свойства. Чтобы агрегат служил бесперебойно, за ним нужно тщательно ухаживать.
			h2.page-title-h2 Зачем необходимо размораживание
			h3.page-title-h3 Ледяная корка.
			p
				| Образование ледяного нароста происходит в результате специфики системы охлаждения агрегата, 
				| представляющей собой замкнутый цикл. По внутренним трубам, когда прибор включен в электросеть, 
				| непрерывно циркулирует специальная жидкость (хладагент). Попеременное поступление вещества в отрезки то низкого, 
				| то высокого давления, переводит его из жидкого в газообразное состояние, и наоборот. В результате внутренняя площадь 
				| охлаждается. При открывании дверцы, вследствие попадания теплого воздуха снаружи, нарушается баланс температур и 
				| правильная циркуляция воздуха. Внутри агрегата сначала появляется иней, а затем наледь.
			p
				b
					i
						| Обратите внимание! Если холодильную установку вовремя не разморозить, 
						| то это существенно снизит эффективность ее работы, а в последствие может привести к поломке 
						| (постоянная работа компрессора, деформация уплотнителя на дверцах и повреждение деталей под тяжестью ледяного нароста).
			p
				| Старые модели нуждаются в размораживании не реже одного и даже двух раз в месяц, иначе из – за снежной шапки
				|  уменьшается рабочее пространство агрегата.
			p
				| У современных аппаратов присутствует функция автоматического избавления от снежных образований и 
				|удаления воды за пределы камеры, или защитой от образования инея. Но и их необходимо периодически 
				| очищать через 2 – 6 месяцев (процесс зависит от модификации).
			h3.page-title-h3 Технические причины
			p
				| Ледяной нарост в ускоренном темпе образовывается из – за деформации уплотнительной резинки или проседания 
				| дверцы из – за ослабления крепежа петель, поломки термодатчика (компрессор не отключается в запрограммированные 
				| сроки по достижении заданной температуры), и утечки хладагента.
			p
				| Также, образованию конденсата способствует горячая тара с продуктами, а переполненные 
				| камеры препятствуют свободной циркуляции воздуха внутри.
			h3.page-title-h3 Устранение неприятного запаха 
			p Во время эксплуатации внутри агрегата могут поселиться микроорганизмы (во фрагментах продуктов, 
				| вмерзших в ледяную корку), выделяющие в процессе жизнедеятельности токсичные испарения.
			h2.page-title-h2 Правила размораживания
			p 
				| Как разморозить холодильник, чтобы не повредить его элементы? Раньше хозяйки скалывали наледь с 
				| риском пробить внутреннюю обшивку. На сегодняшний день процесс проходит быстрее и качественнее, если следовать простым правилам.
			ol.page-list.page-list-ol
				li Отключите агрегат от электросети и откройте дверцы;
				li достаньте все продуктовые запасы;
				li
					| во время таяния ледяной корки необходимо вытащить полки, ящики, контейнеры, съемные детали, затем вымыть их и просушить;
				li
					| если агрегат не встроен, отодвиньте его от стенки и проведите влажную обработку задней наружной панели аппарата;
				li
					| когда лед растает, протрите холодильник внутри сначала впитывающей губкой или махровой салфеткой с деликатным моющим составом без содержания хлора, а затем водой;
				li
					| резиновый уплотнитель на дверцах промывают мыльным раствором, предварительно очистив пазы от грязи.
				li
					| Конденсатор, встроенный в задней стенке холодильного прибора очищают от паутины и пыли при помощи пылесоса;
				li мягким моющим средством обрабатывают наружные поверхности.
			p
				b
					| Важно! Если 
					i
						| уплотнитель периодически пропитывать вазелином, резинка станет мягкой, и дверца будет хорошо прилегать к корпусу прибора. 
						| Для этой цели отлично подходит и силиконовая смазка.

			h3.page-title-h3 Чем обработать
			p
				| Чтобы удалить сильные загрязнения и устранить неприятную отдушку внутри холодильника, можно воспользоваться средствами, которые есть практически в каждом хозяйстве: нашатырь, пищевая сода, лимон, уксус.
			h3.page-title-h3 Рецепты
			ol.page-list.page-list-ol
				li
					| Смесь нашатырного спирта с водой, в пропорции 1 к 10, уничтожает сильные и застарелые загрязнения, и дезинфицирует внутренние поверхности. Смоченным тампоном обрабатывают засохшее пятно, а затем промывают чистой водой комнатной температуры.
				li
					| Сода пищевая способна не только очистить камеры изнутри, но и отбелить пожелтевшие участки на стенках. Для этого следует смешать 2 ст. ложки с 0.5 л. теплой воды и раствором протереть внутренние части прибора. Через полчаса промыть чистой водой.
				li
					| Раствор из столового уксуса, смешанного с водой в соотношении 1 к 1, продезинфицирует камеры и избавит от неприятного амбре. Лучше всего распылить состав с помощью пульверизатора.
				li
					| Лимон хорошо устраняет участки с плесенью и уничтожает нежелательный «аромат». Раствором из 2 – 3 столовых ложек лимонного сока, смешанного с 200 мл чистой воды протирают внутренние стенки отсеков домашней «фабрики холода».
			p
				| Недорогие и доступные ингредиенты способны в кратчайшие сроки удалить загрязнения с холодильного устройства.
			p
				| После мытья агрегата, необходимо в течение получаса не закрывать холодильник, чтобы он полностью высох, 
				| и только потом включить прибор в электросеть и выставить оптимальную температуру.
			h3.page-title-h3 Уход за морозильной камерой

			p
				| Если периодически не размораживать морозильную камеру, то образовавшаяся снежная наледь ограничит место для хранения съестных запасов, и сам процесс охлаждения будет протекать медленнее.

			p
				| Прежде чем начать размораживать «морозилку», необходимо максимально снизить температуру. Это позволить сильнее заморозить продукты, которые некоторое время (3 – 4 часа), будут находиться вне камеры.

			p
				| В зимний период проблему сохранности продуктов может решить балкон, в частном доме выручит погреб, а в остальных случаях можно воспользоваться советами опытных домохозяек.
			ul.page-list.page-list-ul
				li
					| Наполнить большую емкость (ванную или таз), ледяной водой и поместить туда кастрюлю с продуктами;
				li переложить пищу пакетами со льдом и обернуть полиэтиленом или фольгой;
				li
					| завернуть продукты сначала в полиэтилен, затем обернуть тканью и укрыть толстым одеялом или пледом.

			p
				| Практичны контейнеры, изготовленные из материалов, способных долгое время удерживать холод.
			h2.page-title-h2 Размораживание вручную

			p
				| Как размораживать холодильник 
				|  правильно, производители указывают в инструкции по эксплуатации, но если она затерялась или агрегат «советских времен», следуйте алгоритму.
			ol.page-list.page-list-ol
				li
					| Переведите тумблер термостата на нулевую отметку и отключите электрическое питание.
				li Освободите внутреннее пространство от продуктов, а затем от съемных элементов.
				li
					| Миниатюрный шланг для слива талой воды направьте в большую емкость, например в кастрюлю или ведро. Чтобы на полу не растеклись лужи, разложите вокруг ветошь, газеты или полиэтиленовую пленку.
				li Оставьте агрегат открытым.
				li
					| Как только ледяная шуба начинает отставать от стенок камеры, можно поддевать пласты резиновым шпателем или плотной тканью.
				li
					| Вымойте холодильник, а затем дайте ему полностью просохнуть. Для мытья выбирайте составы без отдушек. Хорошо подойдет раствор с хозяйственным мылом или деликатные средства для ухода за бытовой техники или посудой.
				li Соедините прибор с электросетью.
				li
					| Выставьте необходимую температуру и закройте агрегат (для оптимизации температурного режима).

			p
				| Припасы помещают в холодильный бытовой прибор только при его полном охлаждении. Современные модели оснащены панелями управления. Специальный сигнал или огонек индикатора сообщат хозяйке о возможности загрузки холодильника или морозильной камеры. Старые холодильники, после обработки, должны поработать без содержимого от 2 до 3 часов.

			p
				| Размораживание большинства моделей рекомендовано при температуре их эксплуатации (от +10 до + 30°С).

			p
				| В жарких климатических условиях процесс разморозки лучше начать вечером, когда температура воздуха снизится. За ночь, при открытых дверцах, ледяная корка растает, и утром можно мыть и сушить агрегат.
			h2.page-title-h2 Особенности размораживания конкретных моделей холодильного оборудования

			p
				| Пару десятилетий назад большинство моделей холодильников работали по одному принципу, поэтому размораживались по мере образования наледи.

			p
				| На сегодняшний день рынок бытовой техники предлагает широкий ассортимент модификаций холодильников, поэтому и размораживание требует особого подхода, в соответствии с техническими характеристиками и конструкции аппарата.
			h3.page-title-h3 Разморозка холодильников с капельной системой

			p
				| Модельный ряд современных холодильников предлагает оснащение капельной системой разморозки (Direct Cool.page-list.page-list-ol). В данных конструкциях хладагент распределяется равномерно по задней стенке прибора, а накопившаяся влага стекает через отверстие в специальные резервуары. Встроенный режим включения и выключения автоматически определяет время оттаивания, поэтому иней внутри не успевает образоваться. В морозильной же камере «плачущая стенка» отсутствует, поэтому важно знать, 
				b как разморозить капельный холодильник, 
				| с учетом нюансов.

			p
				| Принцип ухода за «морозилкой» в капельном агрегате идентичен данным процессам в других конфигурациях бытовых холодильных установок. 1 или 2 раза в год, когда слой наледи достигает 5 – 10 мм, камеру необходимо освободить от наледи.
			h3.page-title-h3 «Фабрика холода» с воздушным испарением

			p
				| В моделях «No Frost» влага испаряется при помощи встроенного вентилятора, поэтому, благодаря циркуляции воздуха, иней и наледь не образуется. Но «незамерзающие» агрегаты все равно требуют ухода для профилактики: освобождения морозильной камеры ото льда и дезинфекции.

			p Как размораживать двухкамерные холодильники

			p
				| Двухкамерный агрегат представляет собой бытовой холодильный прибор, где морозилка расположена отдельно и может работать самостоятельно. В инструкции по эксплуатации описан порядок действий размораживания двухкамерного холодильника. Но в целом, действия практически не отличаются от разморозки других модификаций холодильных агрегатов.

			p
				| Дополнительное удобство при очистке камер от снежной шубы предоставляется в моделях с двумя компрессорами. В этом случае отсеки можно размораживать по очереди. Например, если размораживается морозильная камера, продукты перекладывают в холодильник, а рычаг термостата в обрабатываемом пространстве выставляется на 0 °t.

			p
				| Если размораживаются отсеки одновременно, двухкамерный агрегат необходимо обесточить (вынуть вилку из розетки).
			h2.page-title-h2 Безопасные методы экстренной разморозки

			p
				| В зависимости от степени обледенения, размораживание камеры занимает от 3 до 24 часов. Производители не рекомендуют ускорять процесс, но в экстренных случаях можно воспользоваться вентилятором, который устанавливают перед открытой камерой, или поместить внутрь морозилки маленькую тарелочку с крупной поваренной солью.

			p
				| Для этих целей также подойдет фен для сушки волос. Для оттаивания горячий воздух направляют на корку льда на расстоянии от 25 до 35 см. Следите за тем, чтобы горячая струя не попадала на уплотнитель (он может деформироваться).

			p
				| Проверенный способ – размещение емкостей с горячей водой (60 - 70°t), на днище пустого холодильного или морозильного отделения. Кастрюльку или миску необходимо поставить на полотенце, сложенное в несколько слоев или деревянную подставку. При этом дверца холодильника должна быть закрыта.

			p
				| На прилавках с бытовой химией можно найти спреи для размораживания холодильников со щадящим составом. Они не только оперативно удаляют ледяные наросты, но и борются с вредоносными бактериями, и неприятным запахом. Жидкости экологически чисты и абсолютно безвредны для человека.

			p Предложенные способы приемлемы только в исключительных случаях.
			h2.page-title-h2 Меры предосторожности

			p
				| Не все домохозяйки знают тонкости размораживания холодильника. Советы экспертов помогут избежать типичных ошибок в уходе за бытовым прибором.
			ul.page-list.page-list-ul
				li
					| Встречаются ситуации, когда хозяйка начала размораживание (убрала продукты, вытащила полки и контейнеры, открыла дверцы холодильника), но забыла отключить прибор от электросети. Все это время компрессор, работающий на охлаждение фреона, не дает повышения температуры, необходимой для таяния снежной шапки;
				li
					| Во избежание повреждения внутренней стенки (трубки испарителя очень хрупкие), во время удаления наледи категорически противопоказано пользоваться острыми предметами (нож, вилка и т.п.), и жесткими щетками.
				li
					| Не следует отдирать примерзшие продукты в морозилке и посуду в холодильнике. Необходимо подождать, когда они «отморозятся» самостоятельно.
				li
					| Холодильник подключают к сети только при 100% просушке. Иначе капельки влаги быстро преобразуются в иней. Оптимальный вариант – сушка естественным путем при открытых дверцах.
				li
					| Уплотнители с трещинами и деформацией необходимо заменить на новые «резинки», чтобы дверцы герметично закрывали холодильник.

			p
				| Простые меры предосторожности обеспечат долгую «жизнь» агрегату и качественную бесперебойную службу, а их несоблюдение выведет дорогостоящий аппарат из строя раньше положенного срока.

			p
				| Полезную информацию по быстрой и правильной разморозке холодильников можно почерпнуть на просторах «мировой паутины», в видеороликах и на сайтах, посвященных данной теме.





		.calc-banner.page-banner
			.page-banner-img
				img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/master.webp' alt="Ремонт холодильника в спб")
			.page-banner-content
				.page-banner-content__title 
					p Доверьте ремонт Вашего холодильника профессионалам!
				.page-banner-content__text 
					p  телефоны для связи
					a(href='#')= telNumber_1 
					|  или 
					a(href='#')= telNumber_2 

				.page-banner-content__text Также Вы можете оформить on-line заказ или заказать звонок
				.page-banner-content-buttons
					.page-banner-button.button-order 
						| Оформить заявку
						br
						| on-line
					.page-banner-button.button-callback Заказать звонок 
