extends ../../layout/article_page_layout.pug

block variables
	- var title = 'Как устранить неприятный запах в стиральной машине?' 
	- var content = ""
	- var pathToImgArticles = domen + '/assets/img/pictures/repair-img/'

block content
	+bread-crumbs({ 
		'Главная': '/',
		'Хозяйке на заметку': domen + '/articles/',
		"Как устранить запах в стиральной машине": "#"})

	.article-page-wrapper(itemscope itemtype="https://schema.org/Article")
		h1.page-title-h1(itemprop="name")= title 
		+pageBanner-1({
      title: 'Нужна консультация?',
      text: 'Мы подробно расскажем о возможны неисправностях и стоимости ремонта!',
      pathToImg: domen + '/assets/img/pictures/banner-img-006.webp'
    })
		.page-text(itemprop="articleBody")
			p
				| Многие хозяйки сталкивались с ситуацией, когда доставая бельё, обнаруживали, что появился неприятный запах из стиральной машины. Основной причиной таких проявлений является образование плесени на внутренних частях машинки. Такая ситуация в большой степени проявляется на машинах с фронтальной загрузкой. Причиной появления запаха обычно является неправильное использование моющих средств. Например, для стирки в машине автомате используется порошок для ручной стирки. Такое моющее средство дает большое количество пены, и машина не успевает полностью промыть бельё и удалить все компоненты порошка. В результате оставшиеся частицы оседают внутри машинки, и образуется плесень и появляется запах внутри стиральной машины.
			p
				| Другой причиной образования плесени и неприятного запаха может быть образовавшийся засор в сливном шланге или канализации. Использованная вода не стекает полностью, и ее часть остается внутри, являясь причиной образования затхлого запаха.
			h2.page-title-h2 Как избавиться от неприятного запаха
			p
				| В стиральной машине не предусмотрена функция по самоочищению. Если не хотите, чтобы ваши вещи впитали неприятный запах необходимо проводить очистку техники. Мы подготовили небольшую инструкцию, которая ответит на вопрос, как избавиться от запаха в стиральной машине и поможет правильно ухаживать за оборудованием.
			p Проведение сервисной стирки. Если вы привыкли стирать при температуре 40 градусов, то стоит знать, что при таких параметрах плесень и бактерии не погибают. Для избавления от микробов необходимо, хотя один раз в месяц проводить сервисную стирку. Обычно в руководстве по использованию присутствует подробная инструкция, как ее провести. Если информации нет, то рекомендуем выставить самый продолжительный режим и включить максимальную температуру. Стоит учитывать, что сервисная стирка проводится без белья и без добавления моющих средств
			p
				| Если сервисная стирка не помогла провести чистку стиральной машины от запаха воспользуйтесь дополнительными средствами:
			ol.page-list.page-list-ol
				li
					| Сода и уксус. Необходимо смешать равное количество (по 50 грамм) воды и соды. Полученная смесь помещается в отсек для моющего средства. В пустой барабан вливается два стакана уксуса и включается стирка;
				li
					| Лимонная кислота. В барабан насыпьте стакан гранулированной лимонной кислоты и включите стирку. После завершения процесса рекомендуем дополнительно включить режим полоскания для смывания остатков кислоты;
				li
					| Отбеливать. Налейте небольшое количество жидкости (не более 50-60 мл) в отсек для моющего средства. Порошок или другие моющие средства не добавляйте. Запустите сервисную стирку. Если после завершения процесса из машины чувствует запах отбеливателя, проведите повторную сервисную стирку без использования каких-либо порошков или дополнительных средств;
				li
					| Уход за резиновой манжетой. После стирки на резиновой поверхности могут скапливаться остатки порошка, ворсинки, грязь. Для уничтожения остатком можно использовать раствор столового уксуса. Смешайте в равных пропорциях столовый уксус и воду. Обработайте полученным раствором поверхность. Для полной обработки рекомендуем немного оттягивать манжеты от поверхности. Все работы необходимо проводить в перчатках. Если после обработки на поверхности манжеты остались пятка, то возможно плесень глубоко въелась и может потребоваться замена манжеты.
				li
					| Очистка лотка для моющего средства. Некоторые стиральные машины не могут полностью промыть лоток и полностью переместить порошок в барабан. Необходимо периодически проводить очистку лотка. Необходимо извлечь ящик из машины и промыть теплой водой. При необходимости можно использовать зубную щетку или воспользоваться отбеливателем. После очищения рекомендуем просушить лоток. Это поможет предотвратить образование плесени. После удаления лотка, проверьте отсек, где он стоял. При необходимости проведите обработку.
				li
					| Проверка фильтра сливного насоса. Для проверки фильтра отключите машину от электропитания. Обычно фильтр располагается в нижней части и закрыт небольшим лючком. Откройте люк, и открутите фильтр. Не забывайте, что там может быть небольшое количество воды. Рекомендуем подготовить емкость или использовать тряпку для сбора жидкости. Удалите мусор, и промойте фильтр. Рекомендуется проводить очистку не менее одного раза в месяц;
				li
					| Устранение засора. Причиной неприятного запаха может быть засор в сливном шланге. Для удаления засора потребуется отсоединить шланг и промыть под проточной водой. Сильный напор воды вытолкнет собравшийся мусор.
			p
				| Если советы не помогли справиться с проблемой и избавиться от запаха в стиральной машине автомат, то может потребоваться вызов мастера по ремонту стиральных машин.
			h2.page-title-h2 Как предотвратить появление неприятного запаха
			p
				| Если не хотите тратить время на устранение неприятного запаха из стиральной машины, воспользуйтесь нашими рекомендациями.
			ul.page-list.page-list-ul
				li
					| Используйте правильный порошок. Машины с фронтальной загрузкой не всегда могут справиться с большой пеной. Используйте порошок для автоматической стирки и используйте количество, которое указано производителем. При превышении указанных норм стиральная машина может не справиться с полосканием белья и частицы моющего средства останутся в машине и могут стать причиной появления неприятного запаха;
				li
					| Просушивайте барабан после стирки. Для реализации, не требуется проводить какие-либо мероприятия или выполнять действия. Не забывайте извлекать бельё после окончания стирки. После завершения стирки оставляйте открытыми дверцу машинки и лоток для моющих средств. Это позволит испариться лишней влаге;
				li
					| Уход за резиновой манжетой. После завершения стирки не забывайте протирать манжету сухой тряпкой. Это поможет избавиться от лишней влаги и предотвратит образование плесени на резине. Возьмите за правило хотя бы один раз в месяц обрабатывать манжету раствором уксуса и воды.
			p
				| Мы надеемся, что представленная информация помогла вам разобраться с вопросом, как почистить стиральную машину от запаха. Если вы будете соблюдать указанные рекомендации и выполните необходимые действия, то сможете избавиться от появления неприятных запахов в вашей машине.


	
		.calc-banner.page-banner
			.page-banner-img
				img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/master.webp' alt="Ремонт холодильника в спб")
			.page-banner-content
				.page-banner-content__title 
					p Доверьте ремонт Вашего холодильника профессионалам!
				.page-banner-content__text 
					p  телефоны для связи
					a(href='#')= telNumber_1 
					|  или 
					a(href='#')= telNumber_2 

				.page-banner-content__text Также Вы можете оформить on-line заказ или заказать звонок
				.page-banner-content-buttons
					.page-banner-button.button-order 
						| Оформить заявку
						br
						| on-line
					.page-banner-button.button-callback Заказать звонок 
		