extends ../../../layout/article_page_layout.pug

block variables
	- var title = 'Коды ошибок стиральных машин'
	- var content = "Расшифровка ошибок стиральных машин"
	- var pathToImgArticles = domen + '/assets/img/pictures/articles-img/'

block content
	+bread-crumbs({ 
		'Главная': '/',
		"Коды ошибок бытовой техники": "/errors/",
		"Коды ошибок стиральных машин": "",

	})
	.errors-page-list
		H1.page-title-h1 Коды ошибок стиральных машин
		ul.errors-page-list-items.page-link-list
			-var dir = domen + '/errors/kody-oshibok-stiralnyh-mashin/'
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-stiralnyh-mashin-Ariston-Indezit' + '.html') Коды ошибок стиральных машин Ariston - Indesit (Аристон - Индезит)
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-stiralnyh-mashin-ardo' + '.html') Коды ошибок стиральных машин Ardo (Ардо)
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-stiralnyh-mashin-asko' + '.html') Коды ошибок стиральных машин Asko (Аско)
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-stiralnyh-mashin-atlant' + '.html') Коды ошибок стиральных машин Atlant (Атлант)
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-stiralnyh-mashin-beko' + '.html') Коды ошибок стиральных машин Beko (Беко)
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-stiralnyh-mashin-Siemens-bosch' + '.html') Коды ошибок стиральных машин Bosch (Бош) и Сименс (Siemens)
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-stiralnyh-mashin-samsung' + '.html') Коды ошибок стиральных машин Samsung (Самсунг)
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-stiralnyh-mashin-lg' + '.html') Коды ошибок стиральных машин LG (ЛЖ)
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-stiralnyh-mashin-daewoo' + '.html') Коды ошибок стиральных машин Daewoo (ДЭУ)
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-stiralnyh-mashin-candy' + '.html') Коды ошибок стиральных машин Candy (Канди)
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-stiralnyh-mashin-electrolux' + '.html') Коды ошибок стиральных машин Electrolux - Zanussy - AEG
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-stiralnyh-mashin-gorenje' + '.html') Коды ошибок стиральных машин Gorenje (Горение)
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-stiralnyh-mashin-hansa' + '.html') Коды ошибок стиральных машин Hansa (Ханса)
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-stiralnyh-mashin-haier' + '.html') Коды ошибок стиральных машин Haier (Хайер)
			li.errors-page-list__item 
				a(href= dir + 'kody-oshibok-stiralnyh-mashin-miele' + '.html') Коды ошибок стиральных машин Miele (Миле)
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-stiralnyh-mashin-vestel' + '.html') Коды ошибок стиральных машин Vestel (Вестел)
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-stiralnyh-mashin-whirlpool' + '.html') Коды ошибок стиральных машин Whirlpool (Вирпул)
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-stiralnyh-mashin-midea' + '.html') Коды ошибок стиральных машин Midea (Мидея)


