extends ../../../layout/article_page_layout.pug

block variables
  - var title = 'Коды ошибок стиральных машин Electrolux - Zanussi - AEG'
  - var content = "Расшифровка ошибок стиральных машин Electrolux - Zanussi - AEG'"
  - var pathToImgArticles = domen + '/assets/img/pictures/errors-img/'

block content
  +bread-crumbs({ 
    'Главная': '/',
    "Коды ошибок бытовой техники": "/errors/",
    "Коды ошибок стиральных машин": "/errors/kody-oshibok-stiralnyh-mashin/",
    "Коды ошибок стиральных машин Electrolux - Zanussi - AEG" : ""
  })
  .errors-page.article-page-wrapper(itemscope itemtype="https://schema.org/Article")
    h1(itemprop="name")= title
    +pageBanner-1({
      title: 'Нужна консультация?',
      text: 'Мы ответим на все Ваши вопросы и рассчитаем стоимость ремонта',
      buttonText: 'Заказать звонок',
      pathToImg: domen + '/assets/img/pictures/banner-img-009.webp'
    })
    .page-text(itemprop="articleBody")
      .table-container_scroll 
      
        table(border='1')
          tbody
            tr
              th
                p Код ошибки
              th
                p Описание ошибки
            tr
              td
                p ЕЮ
                p Е11
              td
                p Не набирается вода
            tr
              td
                p Е12
              td
                p Проблемы при подаче воды в цикле сушки
            tr
              td
                p ЕЮ
              td
                p Недостаточно воды - самослив
            tr
              td
                p Е20
                p Е21
              td
                p Нет слива воды
            tr
              td
                p Е22
              td
                p Проблемы при сливе воды в цикле сушки
            tr
              td
                p Е23
              td
                p Неисправность симистора сливного насоса
            tr
              td
                p Е24
              td
                p
                  | Неисправность датчика симистора сливного насоса. Некорректный сигнал на входе микропроцессора
            tr
              td
                p Е25
              td
                p Неисправность датчика системы Aqua control
            tr
              td
                p ЕЗО
                p Е31
              td
                p Неисправность электронного реле давления
            tr
              td
                p Е32
              td
                p Проблемы калибровки датчика давления
            tr
              td
                p ЕЗЗ
              td
                p Неисправность реле давления
            tr
              td
                p Е34
              td
                p Несовместимость между датчиком давления и уровнем 2 антикипения
            tr
              td
                p Е35
              td
                p Перелив воды
            tr
              td
                p Е36
              td
                p Ошибка контрольной цепи 1 уровня антикипения 1. Входное напряжение всегда 0 В.
            tr
              td
                p Е37
              td
                p
                  | Ошибка контрольной цепи 1 уровня антикипения 2. Входное напряжение всегда 0 В или 5В.
            tr
              td
                p Е37
              td
                p
                  | Ошибка контрольной цепи уровня 1 прессостата. Входное напряжение всегда 0 В или 5В
            tr
              td
                p Е38
              td
                p Забита трубка прессостата. Засорена система воздухоуловителя
            tr
              td
                p Е39
              td
                p Входное напряжение датчика всегда ОВ
            tr
              td
                p ЕЗА
              td
                p Неисправно реле нагревательного элемента
            tr
              td
                p Е40
                p Е41
              td
                p Открыта дверца
            tr
              td
                p Е42
              td
                p Неисправность устройства блокировки дверцы
            tr
              td
                p Е43
              td
                p Неисправность симистора устройства блокировки дверцы
            tr
              td
                p Е44
              td
                p Неисправность датчика закрытой дверцы
            tr
              td
                p Е45
              td
                p Неисправность датчика симистора дверцы
            tr
              td
                p Е50
                p Е51
              td
                p Короткое замыкание триака двигателя Короткое замыкание в цепи двигателя
            tr
              td
                p Е52
              td
                p Нет сигнала от тахогенератора Заблокирован двигатель Неисправна электропроводка
            tr
              td
                p Е53
              td
                p Ошибка контрольной цепи тиристора двигателя. Входное напряжение всегда ОВ или 5В
            tr
              td
                p Е54
              td
                p Залипание контактов реле двигателя
            tr
              td
                p Е55
              td
                p Обрыв в цепи двигателя
            tr
              td
                p Е56
              td
                p Нет сигнала от тахогенератора. Сигнал не поступает в течение 15 минут
            tr
              td
                p Е57
              td
                p Ток инвертера превосходит пороговое значение (>15А)
            tr
              td
                p Е58
              td
                p Ток двигателя переходит свое пороговое значение (>4.5А)
            tr
              td
                p Е59
              td
                p
                  | Нет сигнала от тахогенератора в течение 3 сек после того как задана новая скорость вращения, от нуля
            tr
              td
                p Е5А
              td
                p Температура радиатора охлаждения превышает пороговое значение (88°С)
            tr
              td
                p Е5В
              td
                p Напряжение в цепи постоянного тока падает ниже порогового значения (<175В)
            tr
              td
                p Е5С
              td
                p Напряжение в цепи постоянного тока повышается выше порогового значения (>430В)
            tr
              td
                p E5D
              td
                p FCV не может принять и/или послать сообщение в течение 2секунд
            tr
              td
                p Е5Е
              td
                p Ошибка связи между платой управления FCV и главной печатной платой
            tr
              td
                p E5F
              td
                p
                  | Плата постоянно запрашивает параметры конфигурации из-за многократного сброса показаний
            tr
              td
                p Е60
                p Е61
              td
                p Недостаточный нагрев во время программы стирки
            tr
              td
                p Е62
              td
                p Перегрев при выполнении программы стирки
            tr
              td
                p Е66
              td
                p Неисправность реле нагревательного элемента или реле системы сушки
            tr
              td
                p Е68
              td
                p Утечка тока на землю в в цепи нагревательного элемента стирки или системы сушки
            tr
              td
                p Е69
              td
                p
                  | Неисправность нагревательного элемента во время стирки (термопредохранитель разомкнут)
            tr
              td
                p Е6А
              td
                p Неисправность в цепи реле нагревательного элемента
            tr
              td
                p Е6Н
              td
                p
                  | Неисправность реле питания нагревательного элемента (несоответствие между состоянием датчика и реле К1)
            tr
              td
                p Е70
                p Е71
              td
                p Неисправность датчика NTC режима стирки
            tr
              td
                p Е72
              td
                p Неисправность датчика NTC на выходе в режиме сушки
            tr
              td
                p Е73
              td
                p Неисправность датчика NTC на входе в режиме сушки
            tr
              td
                p Е74
              td
                p Датчик NTC в режиме стирки, неправильное положение
            tr
              td
                p Е80
                p Е82
              td
                p Ошибка в положении селектора СБРОС
            tr
              td
                p Е83
              td
                p Неправильное определение селектора
            tr
              td
                p Е84
              td
                p Неисправность датчика симистора рециркуляционного насоса
            tr
              td
                p Е85
              td
                p Код неисправности симистора рециркуляционного насоса
            tr
              td
                p Е86
              td
                p Неправильная настройка панели управления
            tr
              td
                p Е87
              td
                p Неисправность микроконтроллера панели управления
            tr
              td
                p Е90
                p Е91
              td
                p Ошибка связи между панелью управления и основной платой
            tr
              td
                p Е92
              td
                p Несовместимый протокол связи между панелью управления и основной платой
            tr
              td
                p Е93
              td
                p Ошибка настройки машины
            tr
              td
                p Е94
              td
                p Неправильная настройка циклов программы стирки
            tr
              td
                p Е95
              td
                p Ошибка связи между микропроцессором и памятью EEPROM
            tr
              td
                p Е96
              td
                p Несоответствие между версией аппаратного обеспечения и конфигурацией программ
            tr
              td
                p Е97
              td
                p Несоответствие между селектором и настройкой циклов программы
            tr
              td
                p Е98
              td
                p Не совпадает протокол связи между FCV и основной платой
            tr
              td
                p Е99
              td
                p Ошибка звукового блока
            tr
              td
                p Е9А
              td
                p Несоответствие между звуковым блоком и вх/вых электроникой
            tr
              td
                p Е9С
              td
                p Некорректная настройка панели управления
            tr
              td
                p Е9Е
              td
                p Неисправность сенсорной панели управления
            tr
              td
                p ЕАО
                p ЕА1
              td
                p Во время включения двигателя нет данных с датчика позиционирования барабана
            tr
              td
                p ЕА2
              td
                p Ошибка контрольной цепи DSP
            tr
              td
                p ЕАЗ
              td
                p DSP не может зафиксировать барабан
            tr
              td
                p ЕА4
              td
                p Неисправность DSP
            tr
              td
                p ЕА5
              td
                p Триак DSP неисправен
            tr
              td
                p ЕА6
              td
                p Неисправность системы позиционирования барабана: открыта дверца
            tr
              td
                p ЕВО
                p ЕВ1
                p ЕН1
              td
                p Частота электропитания выходит за допустимые пределы
            tr
              td
                p ЕВ2
                p (ЕН2
              td
                p Слишком высокое напряжение электропитания
            tr
              td
                p ЕВЗ
                p (ЕНЗ)
              td
                p Слишком низкое напряжение электропитания
            tr
              td
                p EBD
                p (EHD)
              td
                p Реле паты WD нагревательного элемента, сигнал неисправности датчика
            tr
              td
                p ЕВЕ
                p (ЕНЕ)
              td
                p Несоответствие между датчиком защитного реле состоянием реле FCV
            tr
              td
                p ECO
                p ЕС1
              td
                p Электромагнитные клапаны заблокированы
            tr
              td
                p ЕС2
              td
                p Ошибка связи с датчиком веса
            tr
              td
                p ЕСЗ
              td
                p Неисправность датчика веса
            tr
              td
                p ЕС4
              td
                p Неисправность датчика тока AGS.
            tr
              td
                p ЕС8
              td
                p Неисправность симистора TY5
            tr
              td
                p ЕС9
              td
                p Неисправность датчика симистора ТУ 5
            tr
              td
                p ЕСА
              td
                p Ошибка связи между объединительной платой и платой WSD
            tr
              td
                p ЕСВ
              td
                p Неисправность платы WSD
            tr
              td
                p EDI
              td
                p Ошибка связи между объединительной платой и платой WD
            tr
              td
                p ED2
              td
                p
                  | Несоответствие между датчиком реле нагревательного элемента 1 платы WD и состоянием реле нагревательного элемента 1
            tr
              td
                p ED3
              td
                p Неисправность реле датчика нагревательного элемента 1 платы WD
            tr
              td
                p ED4
              td
                p
                  | Несоответствие между датчиком реле нагревательного элемента 2 платы WD и состоянием реле нагревательного элемента 1
            tr
              td
                p ED5
              td
                p Неисправность реле датчика нагревательного элемента 2 платы WD
            tr
              td
                p ED6
              td
                p Термостат WD, неисправность датчика
            tr
              td
                p ED7
              td
                p Неисправность термостата платы WD
            tr
              td
                p ED8
              td
                p Некорректный сигнал или отсутствие сигнала с тахометра
            tr
              td
                p ED9
              td
                p
                  | Несоответствие между состоянием вентилятора двигателя и сигналом датчика управляющей цепи
            tr
              td
                p EDA
              td
                p Питание платы WD Код ошибки питания
            tr
              td
                p EDB
                p (EDH)
              td
                p Неисправность микроконтроллера WDM
            tr
              td
                p EDC
              td
                p Обрыв в цепи нагревательного элемента WDM
            tr
              td
                p EF1
              td
                p Предупреждение о засоренном фильтре
            tr
              td
                p EF2
              td
                p Предупреждение об образовании пены
            tr
              td
                p EF3
              td
                p Предупреждение системы Acqua Control
            tr
              td
                p EF4
              td
                p Вода подается с низким давлением
            tr
              td
                p EF5
              td
                p Белье не сбалансировано
            tr
              td
                p EF6
              td
                p Неисправный микроконтроллер основной платы
            tr
              td
                p EB1
                p EH1
              td
                p Частота источника электропитания выходит за допустимые пределы
            tr
              td
                p EB2
                p EH2
              td
                p Слишком высокое напряжение питания
            tr
              td
                p ЕВЗ
                p ЕНЗ
              td
                p Слишком низкое напряжение питания
            tr
              td
                p E00
              td
                p Нет неисправности
            tr
              td
                p E63
              td
                p Плохой нагрев при сушке
            tr
              td
                p E64
              td
                p Перегрев при сушке
      h2 Коды ошибок Zanussi ZW01106W, ZWS1106W, ZWG1106W
      img(alt='коды ошибок стиральных машин Electrolux Aeg Zanussi' src= pathToImgArticles + 'electrolux-1.jpg')
      br
      img(alt='коды ошибок стиральных машин Electrolux Aeg Zanussi' src= pathToImgArticles + 'electrolux-2.jpg')
      br
      img(alt='коды ошибок стиральных машин Electrolux Aeg Zanussi' src= pathToImgArticles + 'electrolux-3.jpg')
      br
      h2    
        | Индикация кодов модели ENTRY Р6 с вертикальной загрузкой
      img(alt='коды ошибок стиральных машин Electrolux Aeg Zanussi' src= pathToImgArticles + 'electrolux-4.jpg')
      img(alt='коды ошибок стиральных машин Electrolux Aeg Zanussi' src= pathToImgArticles + 'electrolux-5.jpg')
      h2
        | Отображение кода неисправности (ENTRY Р6)
      .page-text
        p
          | * Индикация кодов неисправности выполняется с помощью последовательности миганий индикатора СТАРТ/ПАУЗА красного и зеленого цвета (0,5 секунды включено, 0,5 секунды выключено, пауза между последовательностями 2,5 секунды).
        p
          | * Индикатор кнопки СТАРТ/ПАУЗА красного цвета -соответствует первой цифре кода неисправности.
        p * Желтый индикатор кнопки «СТАРТ/
        p ПАУЗА» — соответствует второй цифре кода неисправности.
        p Примечание.
        p
          | Первая буква кода неисправности Е (Error -ошибка) не указывается, так как она одинакова для всех кодов.
        p Семейство кодов неисправности отображается в шестнадцатеричном формате, то есть:
        p
          | А соответствует -10 миганиям В/Н соответствует -11 миганиям F соответствует -15 миганиям
        p
          | * Ошибкам настройки соответствует мигание всех индикаторов (панель управления не настроена).
      h2
        | Пример индикации кода неисправности:
      .page-text
        p
          | Код неисправности Е43 (неисправность симистора блокировки дверцы) указывается следующим образом:
        p
          | * последовательность четырех миганий индикатора кнопки СТАРТ/ПАУЗА красного цвета соответствует первой цифре "4";
        p
          | * последовательность трех миганий индикатора кнопки СТАРТ/ПАУЗА желтого цвета соответствует второй цифре "3".
      img(alt='коды ошибок стиральных машин Electrolux Aeg Zanussi' src= pathToImgArticles + 'electrolux-6.jpg')
    
      h2
        | AEG - ошибки EWM 3000 с префиксом "С"
      img(alt='коды ошибок стиральных машин Electrolux Aeg Zanussi' src= pathToImgArticles + 'electrolux-7.jpg')
      .table-container_scroll 
        table(border='1')
          tbody
            tr
              td
                p Код
              td
                p Led
              td
                p Описание ошибки
            tr
              td
                p СО
              td
                p -
              td
                p
                  | Несоответствие между датчиком давления и реле давления. Неисправен нагревательный элемент
            tr
              td
                p С1
              td
                p prewash
              td
                p Ошибка залива воды
            tr
              td
                p С2
              td
                p main wash
              td
                p Насос заблокирован/не работает
            tr
              td
                p СЗ
              td
                p prewash main wash
              td
                p Сработал Aqua stop. Сбой в процессе слива воды. Неисправен электронный модуль
            tr
              td
                p С4
              td
                p rinse
              td
                p Неисправен циркуляционный насос
            tr
              td
                p С5
              td
                p prewash
                p rinse
              td
                p Перегрев приводного мотора
            tr
              td
                p С6
              td
                p main wash rinse
              td
                p Вода не наливается до требуемого уровня. Неисправен датчик давления
            tr
              td
                p С7
              td
                p prewash main wash rinse
              td
                p Неисправен нагревательный элемент. Неисправно реле нагрева
            tr
              td
                p С8
              td
                p rinse +
              td
                p Ошибка датчика температуры
            tr
              td
                p С9
              td
                p prewash rinse +
              td
                p Импульсы от тахометра отсутствуют
            tr
              td
                p СА
              td
                p main wash rinse +
              td
                p Неисправен транзистор управления двигателя
            tr
              td
                p СВ
              td
                p prewash main wash rinse +
              td
                p 5-й уровень безопасности. Проверьте клапана, прессостат проводку
            tr
              td
                p СС
              td
                p rinse rinse +
              td
                p Неисправен датчик РТС температуры двигателя на радиатореIGBT
            tr
              td
                p CD
              td
                p prewash rinse rinse +
              td
                p Неисправен дверной замок
            tr
              td
                p CF
              td
                p prewash main wash rinse rinse +
              td
                p Сбой EEPROM памяти


  .calc-banner.page-banner
    .page-banner-img
      img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/calculator.webp' alt="100% качественный ремонт стиральных машин")
    .page-banner-content
      .page-banner-content__title 
        p 100% качество и гарантия на ремонт стиральных машин!
      .page-banner-content__text 
        p Свяжитесь с нами по телефонам  
        a(href=telNumber_1_int)= telNumber_1 
        |  или 
        a(href=telNumber_2_int)= telNumber_2 
        |  и мы проконсультируем Вас о стоимости ремонта Вашей техники
      .page-banner-content__text Также Вы можете оформить on-line заявку или заказать обратный звонок
      .page-banner-content-buttons
        .page-banner-button.button-order 
          | Оформить заявку
          br
          | on-line
        .page-banner-button.button-callback Заказать звонок

