include ./header/header.pug
include ./footer/footer.pug
include ./services/services.pug
include ./navi/navi.pug
include ./navi/navi_mobile.pug
include ./callback-popup/callback-popup.pug
include ./order-popup/order-popup.pug
include ./reviews-popup/reviews-popup.pug
include ./calc-banner/calc-banner.pug
include ./call-action-banner/call-action-banner.pug
include ./bread-crumbs/bread-crumbs.pug
include ./comments-block/comments-block.pug
include ./brands-fridge/brands-fridge.pug
include ./brands-washmach/brands-washmach.pug
include ./page-banner-1/page-banner-1.pug
include ./social/social.pug


//- include ./footer/footer.pug