svg.serviceImg(xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='33.8666mm' height='33.8666mm' version='1.1' style='shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd' viewbox='0 0 3387 3387' xmlns:xlink='http://www.w3.org/1999/xlink')

  g


    path.fil0(d='M2153 3082l178 0 0 178 -178 0 0 -178zm-1127 0l178 0 0 178 -178 0 0 -178zm-416 -474l0 -357 2137 0 -40 655c-501,114 -1556,114 -2038,-2 -22,-100 -59,-186 -59,-296zm416 -2078l1305 0 0 1603 -1305 0 0 -1603zm-119 1603l-297 0c0,-535 -55,-1482 59,-1959 412,-99 1607,-99 2018,0 115,477 60,1424 60,1959l-297 0 0 -1721 -1543 0 0 1721zm-416 -1959l0 2730c20,13 100,74 103,76 391,237 313,-56 313,399l415 0 0 -297 712 0 0 297 416 0c0,-410 -64,-180 276,-377 44,-25 80,-59 139,-98l0 -2730 -189 -167 -1773 -15c-363,24 -137,2 -412,182z')
    path.fil0(d='M1797 1480c183,-69 116,-190 258,-198 111,332 -137,665 -473,591 -457,-101 -257,-509 -200,-749l150 72c119,24 -61,79 146,-13l0 -297c275,196 129,315 119,594zm-297 -594c-236,26 -132,-61 -253,222 -451,1052 966,1294 966,253 0,-304 -27,-290 -217,-436l-372 -281c-163,75 -114,-123 -124,242z')
    polygon.fil0(points='729,2786 848,2786 848,2548 729,2548 ')
    polygon.fil0(points='1619,2786 1738,2786 1738,2548 1619,2548 ')
    polygon.fil0(points='1916,2786 2034,2786 2034,2548 1916,2548 ')
    polygon.fil0(points='1026,2786 1144,2786 1144,2548 1026,2548 ')
    polygon.fil0(points='1322,2786 1441,2786 1441,2548 1322,2548 ')
    polygon.fil0(points='2213,2786 2331,2786 2331,2548 2213,2548 ')
    polygon.fil0(points='2509,2786 2628,2786 2628,2548 2509,2548 ')
