// Creator: CorelDRAW X8
svg.serviceImg(xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='33.8666mm' height='33.8666mm' version='1.1' style='shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd' viewbox='0 0 3387 3387' xmlns:xlink='http://www.w3.org/1999/xlink')

  g
    path.fil0(d='M147 161l3081 0 0 2186 -3081 0 0 -2186zm-144 0l0 2186c0,84 60,143 144,143l3081 0c84,0 144,-59 144,-143l0 -2186c0,-84 -60,-144 -144,-144l-3081 0c-84,0 -144,60 -144,144z')
    path.fil0(d='M469 483l2437 0 0 1541 -2437 0 0 -1541zm-143 -36l0 1613c0,83 25,107 107,107l2509 0c82,0 107,-24 107,-107l0 -1613c0,-82 -25,-107 -107,-107l-2509 0c-82,0 -107,25 -107,107z')
    path.fil0(d='M147 2812c0,-82 25,-107 107,-107l2867 0c159,0 107,167 107,537l-3081 0 0 -430zm-144 -71c0,335 -63,645 144,645l3081 0c207,0 144,-310 144,-645 0,-84 -60,-144 -144,-144l-3081 0c-84,0 -144,60 -144,144z')
    path.fil0(d='M326 2992c42,60 5,71 107,71l1040 0c100,0 66,-15 107,-71 -42,-61 -5,-72 -107,-72 -342,0 -1123,-69 -1147,72z')
    path.fil0(d='M2798 2920c140,12 109,-22 144,107l-42 30c-140,-33 -84,3 -102,-137zm-71 -72c-55,230 -51,70 0,287 479,115 307,-323 179,-323 -57,0 -136,19 -179,36z')
    path.fil0(d='M1795 3063c275,0 192,8 251,-71 -65,-93 19,-72 -358,-72 8,101 -1,143 107,143z')
    path.fil0(d='M1616 698c0,101 15,67 72,108 60,-42 71,-5 71,-108l0 -107 -143 0 0 107z')
    path.fil0(d='M505 806c101,-9 143,1 143,-108 0,-108 -42,-99 -143,-107l0 215z')
    path.fil0(d='M1329 698c0,109 42,99 144,108l0 -215c-102,8 -144,-1 -144,107z')
    path.fil0(d='M1903 806c101,-9 143,1 143,-108 0,-108 -42,-99 -143,-107l0 215z')
    path.fil0(d='M2727 698c0,109 42,99 143,108l0 -215c-101,8 -143,-1 -143,107z')
    path.fil0(d='M2189 662l0 144 108 0 0 -144c0,-101 -16,-66 -72,-107 -25,44 -36,38 -36,107z')
    path.fil0(d='M2476 662l0 144 107 0 0 -144c0,-101 -15,-66 -71,-107 -25,44 -36,38 -36,107z')
    path.fil0(d='M792 662l0 144 107 0 0 -144c0,-101 -15,-66 -72,-107 -24,44 -35,38 -35,107z')
    path.fil0(d='M1078 662l0 144 108 0 0 -144c0,-101 -16,-66 -72,-107 -24,44 -36,38 -36,107z')
