// Creator: CorelDRAW X8
svg.serviceImg(xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='33.8666mm' height='33.8666mm' version='1.1' style='shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd' viewbox='0 0 3387 3387' xmlns:xlink='http://www.w3.org/1999/xlink')

  g

    path.fil0(d='M169 2857l0 -2338c0,-279 84,-363 363,-363l2338 0c280,0 363,84 363,363l0 2338c0,280 -83,363 -363,363l-2338 0c-279,0 -363,-83 -363,-363zm-161 -2499l0 2661c0,199 163,363 363,363l2661 0c199,0 363,-164 363,-363l0 -2661c0,-200 -164,-363 -363,-363l-2661 0c-200,0 -363,163 -363,363z')
    path.fil0(d='M1943 882c0,-519 806,-519 806,0 0,518 -806,518 -806,0zm-161 -81c0,916 1129,798 1129,81 0,-793 -1129,-688 -1129,-81z')
    path.fil0(d='M653 2091c0,-518 806,-518 806,0 0,519 -806,519 -806,0zm-161 -80c0,916 1129,797 1129,80 0,-792 -1129,-687 -1129,-80z')
    path.fil0(d='M734 761c0,-363 564,-363 564,0 0,363 -564,363 -564,0zm-162 -40c0,657 887,657 887,0 0,-542 -887,-542 -887,0z')
    path.fil0(d='M2104 2212c0,-363 565,-363 565,0 0,363 -565,363 -565,0zm-161 -40c0,658 887,658 887,0 0,-542 -887,-542 -887,0z')
    path.fil0(d='M1298 2938c0,171 242,171 242,0 0,-171 -242,-171 -242,0z')
    path.fil0(d='M1863 2938c0,171 241,171 241,0 0,-171 -241,-171 -241,0z')
    path.fil0(d='M895 2938c0,171 242,171 242,0 0,-171 -242,-171 -242,0z')
    path.fil0(d='M2266 2938c0,171 242,171 242,0 0,-171 -242,-171 -242,0z')
