// Creator: CorelDRAW X8
svg.serviceImg(xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='33.8666mm' height='33.8666mm' version='1.1' style='shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd' viewbox='0 0 3387 3387' xmlns:xlink='http://www.w3.org/1999/xlink')
  g
    path.fil0(d='M2870 391l177 -5 5 176 -177 6 -5 -177zm-124 301l301 29 6 2497 -2723 0 0 -3054 2723 0c-53,126 45,47 -145,76 -206,31 -261,154 -162,452zm-2527 2637c330,79 2615,79 2944,0 75,-310 75,-2966 0,-3276 -274,-66 -2194,-56 -2725,-38 -138,4 -222,16 -251,153 -48,231 -5,1266 -5,1578 0,447 -58,1186 37,1583z')
    path.fil0(d='M2390 2409c-184,-85 -258,144 -522,213 -226,59 -451,47 -649,-73 -389,-234 -554,-660 -370,-1093 71,-165 238,-327 399,-410 394,-203 861,-63 1100,301 201,309 -1,560 263,583 0,-1393 -1515,-1359 -1872,-547 -503,1146 1072,1902 1651,1026z')
    path.fil0(d='M1102 1452c244,-161 317,-356 723,-244 788,217 365,1511 -431,1166 -156,-67 -185,-126 -285,-236 190,-274 173,-412 -7,-686zm-153 0c221,368 221,331 0,699 231,303 444,488 876,392 663,-147 822,-1203 20,-1466 -384,-126 -675,88 -896,375z')
    path.fil0(d='M882 716l1729 0c-20,-235 -245,-147 -846,-147 -545,0 -871,-90 -883,147z')
    polygon.fil0(points='778,282 772,452 919,504 1025,374 932,227 ')
    path.fil0(d='M410 666c103,77 266,71 364,16 -58,-195 -286,-141 -364,-16z')
    path.fil0(d='M408 359l92 146c122,-40 86,-13 164,-117 -37,-123 -31,-117 -154,-154l-102 125z')
    path.fil0(d='M1397 3151c114,-95 114,-176 0,-270 -98,91 -129,163 0,270z')
    path.fil0(d='M1691 3151c114,-95 114,-176 0,-270 -98,91 -129,163 0,270z')
    path.fil0(d='M1986 3151c114,-95 114,-176 0,-270 -98,91 -130,163 0,270z')
    path.fil0(d='M2387 461c98,54 129,54 227,0 -20,-69 2,-114 -116,-119 -136,-7 -87,22 -111,119z')
    path.fil0(d='M523 3135c129,-35 169,-196 -13,-251 -52,100 -61,149 13,251z')
    path.fil0(d='M2859 3135c74,-101 67,-153 13,-251 -166,56 -156,212 -13,251z')
    path.fil0(d='M1102 3151c108,-89 101,-158 40,-267 -64,30 -68,-61 -83,113 -10,119 16,106 43,154z')
    path.fil0(d='M2538 3151c107,-89 100,-158 40,-267 -65,30 -69,-61 -84,113 -10,119 16,106 44,154z')
    path.fil0(d='M2280 3151c57,-99 59,-166 3,-267 -58,27 -74,-58 -83,113 -6,103 13,98 80,154z')
    path.fil0(d='M845 3151c57,-99 59,-166 3,-267 -59,27 -74,-58 -83,113 -6,103 12,98 80,154z')
    path.fil0(d='M2440 2292c106,-53 122,-76 110,-190 -159,-50 -198,71 -110,190z')
