.bread-crumbs {
    width: 100%;
    height: auto;
    background-color: $colorMain-1-02;
    color: $colorMain-1;
    @include fontH3(rem(15), rem(30));
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: rem(20) rem(10);
    box-sizing: border-box;

}

.bread-crumbs__item {
    margin-right: rem(30);
    position: relative;    
}
.bread-crumbs__item:not(:last-child) {
    &:after {
        content: "/";
        position: absolute;
        right: 0;
        margin-right: rem(-15);
    }
}

.bread-crumbs__item a  {
    border-bottom: 1px solid $colorMain-1;
    &:hover {
        color: $colorSecond-1;
        border-bottom: 1px solid $colorSecond-1;
    }    
}

.bread-crumbs__not-link {
    color: $dark75;
    font-weight: bold;
}