extends ../../../layout/article_page_layout.pug

block variables
	- var title = 'Коды ошибок холодильников'
	- var content = "Расшифровка ошибок холодильников"
	- var pathToImgArticles = domen + '/assets/img/pictures/articles-img/'

block content
	+bread-crumbs({ 
		'Главная': '/',
		"Коды ошибок бытовой техники": "/errors/",
		"Коды ошибок холодильников": "",

	})
	.errors-page-list
		H1.page-title-h1= title
		ul.errors-page-list-items.page-link-list
			-var dir = domen + '/errors/kody-oshibok-holodilnikov/'
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-holodilnikov-atlant' + '.html') Коды ошибок холодильников Атлант
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-holodilnikov-minsk' + '.html') Коды ошибок холодильников Минск
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-holodilnikov-ariston' + '.html') Коды ошибок холодильников Ariston
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-holodilnikov-indesit' + '.html') Коды ошибок холодильников Indesit
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-holodilnikov-ardo' + '.html') Коды ошибок холодильников Ardo
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-holodilnikov-asko' + '.html') Коды ошибок холодильников Asko
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-holodilnikov-beko' + '.html') Коды ошибок холодильников Beko
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-holodilnikov-bosch' + '.html') Коды ошибок холодильников Bosch
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-holodilnikov-siemens' + '.html') Коды ошибок холодильников Siemens
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-holodilnikov-samsung' + '.html') Коды ошибок холодильников Samsung
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-holodilnikov-lg' + '.html') Коды ошибок холодильников LG
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-holodilnikov-daewoo' + '.html') Коды ошибок холодильников Daewoo
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-holodilnikov-candy' + '.html') Коды ошибок холодильников Candy
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-holodilnikov-miele' + '.html') Коды ошибок холодильников Miele
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-holodilnikov-gorenje' + '.html') Коды ошибок холодильников Gorenje
			
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-holodilnikov-nord' + '.html') Коды ошибок холодильников Nord
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-holodilnikov-stinol' + '.html') Коды ошибок холодильников Stinol
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-holodilnikov-rosenlew' + '.html') Коды ошибок холодильников Rosenlew
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-holodilnikov-liebherr' + '.html') Коды ошибок холодильников Liebherr
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-holodilnikov-hansa' + '.html') Коды ошибок холодильников Hansa
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-holodilnikov-zanussy' + '.html') Коды ошибок холодильников Zanussi
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-holodilnikov-haier' + '.html') Коды ошибок холодильников Haier
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-holodilnikov-whirlpool' + '.html') Коды ошибок холодильников Whirlpool
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-holodilnikov-electrolux' + '.html') Коды ошибок холодильников Electrolux
