extends ../../../layout/article_page_layout.pug

block variables
  - var title = 'Коды ошибок холодильников Atlant (Атлант)'
  - var content = "Расшифровка ошибок холодильников Atlant (Атлант)"
  - var pathToImgArticles = domen + '/assets/img/pictures/errors-img/'

block content
  +bread-crumbs({ 
    'Главная': '/',
    "Коды ошибок бытовой техники": "/errors/",
    "Коды ошибок холодильников": "/errors/kody-oshibok-holodilnikov/",
    "Коды ошибок холодильников Atlant (Атлант)" : ""
  })
  .errors-page.article-page-wrapper(itemscope itemtype="https://schema.org/Article")
    H1(itemprop="name")= title
    +pageBanner-1({
      title: 'Нужна консультация?',
      text: 'Мы ответим на все Ваши вопросы и рассчитаем стоимость ремонта',
      buttonText: 'Заказать звонок',
      pathToImg: domen + '/assets/img/pictures/banner-img-008.webp'
    })
    .page-text(itemprop="articleBody")
      .table-container_scroll 
        table(border='1')
          tbody
            tr
              th
                p Код ошибки
              th
                p Описание ошибки
            tr
              td
                p F1
              td
                p Вышел из строя датчик R1 (датчик хладокамеры воздуха)
            tr
              td
                p F2
              td
                p Неисправен температурный датчик R2 (испарителя в холодильной камере)
            tr
              td
                p F3
              td
                p Неисправен температурный датчик R3 (в морозилке)
            tr
              td
                p F4
              td
                p Напряжение в электросети упало ниже 170 В
            tr
              td
                p F5
              td
                p Напряжение в электросети превысило 255 В
            tr
              td
                p F6
              td
                p Проблемы в цепи компрессора хладокамеры
            tr
              td
                p F7
              td
                p Проблемы в цепи компрессора морозилки
            tr
              td
                p Н
              td
                p Слишком высокая температура в одной из камер
            tr
              td
                p L
              td
                p Слишком низкая температура в одной из камер



  .calc-banner.page-banner
    .page-banner-img
      img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/calculator.webp' alt="качественный ремонт холодильников с гарантией")
    .page-banner-content
      .page-banner-content__title 
        p 100% качественный ремонт холодильников на дому!
      .page-banner-content__text 
        p Свяжитесь с нами по телефонам  
        a(href=telNumber_1_int)= telNumber_1 
        |  или 
        a(href=telNumber_2_int)= telNumber_2 
        |  и мы проконсультируем Вас о стоимости ремонта Вашей техники
      .page-banner-content__text Также Вы можете оформить on-line заявку или заказать обратный звонок
      .page-banner-content-buttons
        .page-banner-button.button-order 
          | Оформить заявку
          br
          | on-line
        .page-banner-button.button-callback Заказать звонок

