extends ../../../layout/article_page_layout.pug

block variables
  - var title = 'Коды ошибок холодильников Electrolux (Электролюкс)'
  - var content = "Расшифровка ошибок холодильников Electrolux (Электролюкс)"
  - var pathToImgArticles = domen + '/assets/img/pictures/errors-img/'

block content
  +bread-crumbs({ 
    'Главная': '/',
    "Коды ошибок бытовой техники": "/errors/",
    "Коды ошибок холодильников": "/errors/kody-oshibok-holodilnikov/",
    "Коды ошибок холодильников Electrolux (Электролюкс)" : ""
  })
  .errors-page.article-page-wrapper(itemscope itemtype="https://schema.org/Article")
    H1(itemprop="name")= title
    +pageBanner-1({
      title: 'Нужна консультация?',
      text: 'Мы ответим на все Ваши вопросы и рассчитаем стоимость ремонта',
      buttonText: 'Заказать звонок',
      pathToImg: domen + '/assets/img/pictures/banner-img-005.webp'
    })
    .page-text(itemprop="articleBody")
      .table-container_scroll 
        table(border='1')
          tbody
            tr
              th
                p Код ошибки
              th
                p Описание ошибки
            tr
              td
                p F1
                p F2
              td
                p Вышел из строя термостат
            tr
              td
                p F3
                p F4
                p F5
              td
                p Неисправен один из датчиков температуры NTC
            tr
              td
                p Мигает "-"
              td
                p
                  | Температура в холодильном отделении опустилась ниже критической отметки "0м градусов
            tr
              td
                p Постоянно
                p горит "-"
              td
                p Температура в холодильном отделении слишком высокая, превышает "9" градусов
            tr
              td
                p Мигает
                p индикатор
                p "b"
              td
                p Датчик испарителя не выдает сигнал или где-то произошла утечка хладагента
            tr
              td
                p Мигает
                p индикатор
                p "с"
              td
                p В одной из камер холодильника вышел из строя температурный датчик
            tr
              td
                p Мигает
                p индикатор
                p "d"
              td
                p Неисправен терморезистор
            tr
              td
                p Мигает
                p индикатор
                p "о"
              td
                p Не работает датчик испарителя в морозильном отделении



  .calc-banner.page-banner
    .page-banner-img
      img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/calculator.webp' alt="качественный ремонт холодильников с гарантией")
    .page-banner-content
      .page-banner-content__title 
        p 100% качественный ремонт холодильников на дому!
      .page-banner-content__text 
        p Свяжитесь с нами по телефонам  
        a(href=telNumber_1_int)= telNumber_1 
        |  или 
        a(href=telNumber_2_int)= telNumber_2 
        |  и мы проконсультируем Вас о стоимости ремонта Вашей техники
      .page-banner-content__text Также Вы можете оформить on-line заявку или заказать обратный звонок
      .page-banner-content-buttons
        .page-banner-button.button-order 
          | Оформить заявку
          br
          | on-line
        .page-banner-button.button-callback Заказать звонок

