extends ../../../layout/article_page_layout.pug

block variables
  - var title = 'Коды ошибок холодильников Ariston (Аристон)'
  - var content = "Расшифровка ошибок холодильников Ariston (Аристон)"
  - var pathToImgArticles = domen + '/assets/img/pictures/errors-img/'

block content
  +bread-crumbs({ 
    'Главная': '/',
    "Коды ошибок бытовой техники": "/errors/",
    "Коды ошибок холодильников": "/errors/kody-oshibok-holodilnikov/",
    "Коды ошибок холодильников Ariston (Аристон)" : ""
  })
  .errors-page.article-page-wrapper(itemscope itemtype="https://schema.org/Article")
    H1(itemprop="name")= title
    +pageBanner-1({
      title: 'Нужна консультация?',
      text: 'Мы ответим на все Ваши вопросы и рассчитаем стоимость ремонта',
      buttonText: 'Заказать звонок',
      pathToImg: domen + '/assets/img/pictures/banner-img-006.webp'
    })
    .page-text(itemprop="articleBody")
      .table-container_scroll 
        table(border='1')
          tbody
            tr
              th
                p Код ошибки
              th
                p Описание ошибки
            tr
              td
                p FE
              td
                p Истекло время отведенное на разморозку — проверьте морозильные камеры
            tr
              td
                p FB
              td
                p Постоянная работа компрессора — проверьте герметичность дверей холодильника
            tr
              td
                p F1
              td
                p Неисправность термистора морозилки — замените термистор
            tr
              td
                p F2
              td
                p
                  | Короткое замыкание в пускозащитном реле (термисторе) морозильной камеры (разомкнуты контакты)
            tr
              td
                p F3
              td
                p
                  | Не замкнута цепь термистора морозильной камеры (сбой или неисправность силовой платы управления)
            tr
              td
                p F4
              td
                p Не вращается вентилятор No-Frost в морозилке
            tr
              td
                p F5
              td
                p Fie работает заслонка с электронным управлением
            tr
              td
                p F6
              td
                p Неисправен тиристор, питающий ТЭН оттайки
            tr
              td
                p F7
              td
                p
                  | Нарушена цепь питания тиристора ТЭНа оттайки (нет напряжения на термодатчике испарителя)
            tr
              td
                p F8
              td
                p Неисправен электромагнитный клапан системы оттайки (замыкание в цепи термистора)
            tr
              td
                p F9
              td
                p Нарушена целостность цепи термодатчиков
            tr
              td
                p F20
              td
                p Перегорела лампочка освещения холодильного отсека
            tr
              td
                p FA
              td
                p Нет сигнала от дефлектора
            tr
              td
              td


  .calc-banner.page-banner
    .page-banner-img
      img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/calculator.webp' alt="качественный ремонт холодильников с гарантией")
    .page-banner-content
      .page-banner-content__title 
        p 100% качественный ремонт холодильников на дому!
      .page-banner-content__text 
        p Свяжитесь с нами по телефонам  
        a(href=telNumber_1_int)= telNumber_1 
        |  или 
        a(href=telNumber_2_int)= telNumber_2 
        |  и мы проконсультируем Вас о стоимости ремонта Вашей техники
      .page-banner-content__text Также Вы можете оформить on-line заявку или заказать обратный звонок
      .page-banner-content-buttons
        .page-banner-button.button-order 
          | Оформить заявку
          br
          | on-line
        .page-banner-button.button-callback Заказать звонок

