extends ../../../layout/article_page_layout.pug

block variables
  - var title = 'Коды ошибок холодильников Samsung (Самсунг)'
  - var content = "Расшифровка ошибок холодильников Samsung (Самсунг)"
  - var pathToImgArticles = domen + '/assets/img/pictures/errors-img/'

block content
  +bread-crumbs({ 
    'Главная': '/',
    "Коды ошибок бытовой техники": "/errors/",
    "Коды ошибок холодильников": "/errors/kody-oshibok-holodilnikov/",
    "Коды ошибок холодильников Samsung (Самсунг)" : ""
  })
  .errors-page.article-page-wrapper(itemscope itemtype="https://schema.org/Article")
    H1(itemprop="name")= title
    +pageBanner-1({
      title: 'Нужна консультация?',
      text: 'Мы ответим на все Ваши вопросы и рассчитаем стоимость ремонта',
      buttonText: 'Заказать звонок',
      pathToImg: domen + '/assets/img/pictures/banner-img-008.webp'
    })
    .page-text(itemprop="articleBody")
      img(src=pathToImgArticles + 'hol_samsung-1.jpg' alt='Коды ошибок холодильников Samsung')
      .table-container_scroll 
        table(border='1')
          tbody
            tr
              th
                p Код ошибки
              th
                p Описание ошибки
            tr
              td
                p r5
              td
                p Ошибка температурных датчиков холодильной камеры
            tr
              td
                p d5
              td
                p Ошибка температурных датчиков испарителя
            tr
              td
                p F5
              td
                p Ошибка температурных датчиков морозильной камеры
            tr
              td
                p E5
              td
                p Ошибка температурных датчиков контроля окружающей среды
            tr
              td
                p rD
              td
                p Сбой в работе воздушной заслонки

              
        


  .calc-banner.page-banner
    .page-banner-img
      img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/calculator.webp' alt="качественный ремонт холодильников с гарантией")
    .page-banner-content
      .page-banner-content__title 
        p 100% качественный ремонт холодильников на дому!
      .page-banner-content__text 
        p Свяжитесь с нами по телефонам  
        a(href=telNumber_1_int)= telNumber_1 
        |  или 
        a(href=telNumber_2_int)= telNumber_2 
        |  и мы проконсультируем Вас о стоимости ремонта Вашей техники
      .page-banner-content__text Также Вы можете оформить on-line заявку или заказать обратный звонок
      .page-banner-content-buttons
        .page-banner-button.button-order 
          | Оформить заявку
          br
          | on-line
        .page-banner-button.button-callback Заказать звонок

