extends ../../../layout/article_page_layout.pug

block variables
	- var title = 'Коды ошибок посудомоечных машин'
	- var content = "Расшифровка ошибок посудомоечных машин"
	- var pathToImgArticles = domen + '/assets/img/pictures/articles-img/'

block content
	+bread-crumbs({ 
		'Главная': '/',
		"Коды ошибок бытовой техники": "/errors/",
		"Коды ошибок посудомоечных машин": "",

	})
	.errors-page-list
		H1.page-title-h1= title
		ul.errors-page-list-items.page-link-list
			-var dir = domen + '/errors/kody-oshibok-posudomoechnyh-mashin/'
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-posudomoechnyh-mashin-ardo' + '.html') Коды ошибок посудомоечных машин Ardo
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-posudomoechnyh-mashin-hotpoint-ariston' + '.html') Коды ошибок посудомоечных машин Hotpoint-Ariston
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-posudomoechnyh-mashin-asko' + '.html') Коды ошибок посудомоечных машин Asko
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-posudomoechnyh-mashin-indesit' + '.html') Коды ошибок посудомоечных машин Indesit
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-posudomoechnyh-mashin-beko' + '.html') Коды ошибок посудомоечных машин Beko
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-posudomoechnyh-mashin-bosch-siemens' + '.html') Коды ошибок посудомоечных машин Bosch - Siemens
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-posudomoechnyh-mashin-samsung' + '.html') Коды ошибок посудомоечных машин Samsung
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-posudomoechnyh-mashin-lg' + '.html') Коды ошибок посудомоечных машин LG 
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-posudomoechnyh-mashin-daewoo' + '.html') Коды ошибок посудомоечных машин Daewoo
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-posudomoechnyh-mashin-electrolux-zanussy-aeg' + '.html') Коды ошибок посудомоечных машин Electrolux - Zanussy - AEG
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-posudomoechnyh-mashin-gorenje' + '.html') Коды ошибок посудомоечных машин Gorenje
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-posudomoechnyh-mashin-candy' + '.html') Коды ошибок посудомоечных машин Candy
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-posudomoechnyh-mashin-hansa' + '.html') Коды ошибок посудомоечных машин Hansa
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-posudomoechnyh-mashin-haier' + '.html') Коды ошибок посудомоечных машин Haier
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-posudomoechnyh-mashin-miele' + '.html') Коды ошибок посудомоечных машин Miele
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-posudomoechnyh-mashin-vestel' + '.html') Коды ошибок посудомоечных машин Vestel
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-posudomoechnyh-mashin-whirlpool' + '.html') Коды ошибок посудомоечных машин Whirlpool
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-posudomoechnyh-mashin-krona' + '.html') Коды ошибок посудомоечных машин Krona
			li.errors-page-list__item
				a(href= dir + 'kody-oshibok-posudomoechnyh-mashin-korting' + '.html') Коды ошибок посудомоечных машин Korting

