extends ../../../layout/article_page_layout.pug

block variables
  - var title = 'Коды ошибок посудомоечных машин Krona'
  - var content = "Расшифровка ошибок посудомоечных машин Krona"
  - var pathToImgArticles = domen + '/assets/img/pictures/errors-img/'

block content
  +bread-crumbs({ 
    'Главная': '/',
    "Коды ошибок бытовой техники": "/errors/",
    "Коды ошибок посудомоечных машин": "/errors/kody-oshibok-posudomoechnyh-mashin/",
    "Коды ошибок посудомоечных машин Krona" : ""
  })
  .errors-page.article-page-wrapper(itemscope itemtype="https://schema.org/Article")
    H1(itemprop="name")= title
    +pageBanner-1({
      title: 'Нужна консультация?',
      text: 'Мы ответим на все Ваши вопросы и рассчитаем стоимость ремонта',
      buttonText: 'Заказать звонок',
      pathToImg: domen + '/assets/img/pictures/banner-img-005.webp'
    })
    .page-text(itemprop="articleBody")
      .table-container_scroll 
        table(border='1')
          tbody
            tr
              th
                p Код ошибки
              th
                p Описание ошибки
            tr
              td
                p Е1
              td
                p Нет воды
            tr
              td
                p Е2
              td
                p Нет слива
            tr
              td
                p ЕЗ
              td
                p Нет нагрева
            tr
              td
                p Е4
              td
                p Переполнение (aqua-stop)
            tr
              td
                p Е5
              td
                p Короткое замыкание датчика NTC
            tr
              td
                p Е6
                p Е7
              td
                p Цепь датчика NTC разомкнута
            tr
              td
                p Е10
              td
                p Работает без нагрева. Неисправность целостности сушки
            tr
              td
                p Е11
              td
                p ПММ работает без нагревателя
            tr
              td
                p Е14
              td
                p Ошибка датчика расхода
            tr
              td
                p Е15
              td
                p Сработал Аквастоп
            tr
              td
                p Е17
              td
                p Ошибка залива воды



  .calc-banner.page-banner
    .page-banner-img
      img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/calculator.webp' alt="качественный ремонт посудомоечных машин с гарантией")
    .page-banner-content
      .page-banner-content__title 
        p 100% качественный ремонт посудомоечных машин на дому!
      .page-banner-content__text 
        p Свяжитесь с нами по телефонам  
        a(href=telNumber_1_int)= telNumber_1 
        |  или 
        a(href=telNumber_2_int)= telNumber_2 
        |  и мы проконсультируем Вас о стоимости ремонта Вашей техники
      .page-banner-content__text Также Вы можете оформить on-line заявку или заказать обратный звонок
      .page-banner-content-buttons
        .page-banner-button.button-order 
          | Оформить заявку
          br
          | on-line
        .page-banner-button.button-callback Заказать звонок

