extends ../../../layout/article_page_layout.pug

block variables
  - var title = 'Коды ошибок посудомоечных машин Electrolux - Zanussi - AEG'
  - var content = "Расшифровка ошибок посудомоечных машин Electrolux - Zanussi - AEG"
  - var pathToImgArticles = domen + '/assets/img/pictures/errors-img/'

block content
  +bread-crumbs({ 
    'Главная': '/',
    "Коды ошибок бытовой техники": "/errors/",
    "Коды ошибок посудомоечных машин": "/errors/kody-oshibok-posudomoechnyh-mashin/",
    "Коды ошибок посудомоечных машин Electrolux - Zanussi - AEG" : ""
  })
  .errors-page.article-page-wrapper(itemscope itemtype="https://schema.org/Article")
    H1(itemprop="name")= title
    +pageBanner-1({
      title: 'Нужна консультация?',
      text: 'Мы ответим на все Ваши вопросы и рассчитаем стоимость ремонта',
      buttonText: 'Заказать звонок',
      pathToImg: domen + '/assets/img/pictures/banner-img-003.webp'
    })
    .page-text(itemprop="articleBody")
      .table-container_scroll 
        table(border='1')
          tbody
            tr
              th
                p Ошибка
              th
                p Кол-во миганий
              th
                p Неисправность
            tr
              td
                p i10
              td
                p 1 мигание
              td
                p Не поступает вода
            tr
              td
                p i20
              td
                p 2 мигания
              td
                p Не сливает воду
            tr
              td
                p i30
              td
                p 3 мигания
              td
                p Сработала система защиты от перелива
            tr
              td
                p i50
              td
                p 5 миганий
              td
                p Короткое замыкание симистора циркуляционной помпы
            tr
              td
                p i60
              td
                p 6 миганий
              td
                p Нет нагрева воды или перегрев
            tr
              td
                p i70
              td
                p 7 миганий
              td
                p Обрыв или короткое замыкание термистора NTC
            tr
              td
                p i80
              td
                p 8 миганий
              td
                p Ошибка связи с внешней памятью EEPROM
            tr
              td
                p i90
              td
                p 9 миганий
              td
                p Неверная контрольная сумма (модель программирования) MCF или CCF
            tr
              td
                p iAO
              td
                p 10 миганий
              td
                p Разбрызгиватель заблокирован
            tr
              td
                p ibO
              td
                p 11 миганий
              td
                p Датчик прозрачности неисправен
            tr
              td
                p iCO
              td
                p 12 миганий
              td
                p Потеря связи с пользовательским интерфейсом
            tr
              td
                p idO
              td
                p 13 миганий
              td
                p Сигнал от тахогенератора не поступает
            tr
              td
                p iFO
              td
                p 15 миганий
              td
                p Ошибка времени залива воды
      h2 Ошибки для моделей EDW...
      .table-container_scroll 
        table(border='1')
          tbody
            tr
              th
                p Код ошибки
              th
                p Описание ошибки
            tr
              td
                p i00
              td
                p Низкое напряжение сети
            tr
              td
                p i10
                p i11
              td
                p Ошибка подачи воды
            tr
              td
                p i20
              td
                p Нет слива воды
            tr
              td
                p i30
              td
                p Сработал Aqua Control
            tr
              td
                p i40
              td
                p Нет сигнала датчика давления
            tr
              td
                p i42
              td
                p Калибровка недопустима, сигнал давления слишком шумный
            tr
              td
                p i43
              td
                p Сигнал датчика давления слишком высок
            tr
              td
                p i44
              td
                p Сигнал датчика давления слишком низкий
            tr
              td
                p i45
              td
                p неверная калибровка, сигнал давления слишком слабый
            tr
              td
                p i46
              td
                p Калибровка недопустима, сигнал давления слишком высок
            tr
              td
                p i50
              td
                p Проблема с моющим двигателем
            tr
              td
                p i51
              td
                p Проблема асинхронного двигателя
            tr
              td
                p i52
              td
                p Двигатель WP BLDC - обнаружен аномально высокий ток
            tr
              td
                p i53
              td
                p Ошибка BLDC мотора
            tr
              td
                p i54
              td
                p Ротор заблокирован
            tr
              td
                p i55
              td
                p Низкое напряжение на плате управления мотора
            tr
              td
                p i56
              td
                p Высокое напряжение на плате управления мотора
            tr
              td
                p I57
              td
                p Напряжение подаваемое на мотор ниже или аыше
            tr
              td
                p i58
              td
                p Ошибка двигателя
            tr
              td
                p i59
              td
                p Неисправность в цепи считывания тока мотора
            tr
              td
                p i5A
              td
                p Перегрев или перегрузка двигателя
            tr
              td
                p i5B
                p (i5H)
              td
                p Ошибка двигателя
            tr
              td
                p i5C
              td
                p Двигатель DP BLDC - обнаружен аномально высокий ток
            tr
              td
                p i5D
              td
                p Завышен ток управлением мотора
            tr
              td
                p i5E
              td
                p Ротор заблокирован
            tr
              td
                p i5F
              td
                p Фаза отсоединена или обмотка внутри двигателя сломана
            tr
              td
                p i60
              td
                p Ошибка нагревателя
            tr
              td
                p i61
              td
                p Перегрев, температура воды выше 78°С
            tr
              td
                p i62
              td
                p Ошибка релеТЭНа
            tr
              td
                p i63
              td
                p Ошибка нагревателя
            tr
              td
                p i70
              td
                p Ошибка NTC датчика
            tr
              td
                p i80
              td
                p Неисправность автоматического открывателя дверей
            tr
              td
                p i81
              td
                p Ошибка автоматического открывателя двери
            tr
              td
                p i82
              td
                p Ошибка клапана
            tr
              td
                p i90
              td
                p Проблема конфигурации
            tr
              td
                p i91
              td
                p Ошибка связи модулей
            tr
              td
                p i92
              td
                p
                  | Сигнал тревоги подается, если управление конфигурацией циклов стирки дало ошибочные результаты
            tr
              td
                p i93
              td
                p
                  | Сигнал тревоги подается, если управление конфигурацией данных конфигурации пользовательского интерфейса предоставило ошибочные результаты
            tr
              td
                p i94
              td
                p
                  | Сигнал тревоги подается, если UIDATA, предоставленная в файле конфигурации, не соответствует подключенной плате пользовательского интерфейса
            tr
              td
                p i95
              td
                p
                  | Сигнал тревоги подается, если тип контрольной суммы UIDATA, указанный в файле конфигурации, не совпадает с подключенной платой пользовательского интерфейса
            tr
              td
                p iBO
                p (iHO)
              td
                p Ошибка датчика мутности
            tr
              td
                p iBI
                p (iH1)
              td
                p Ошибка датчика мутности
            tr
              td
                p iB2
                p (iH2)
              td
                p Ошибка калибровки датчика мутности
            tr
              td
                p iB3
                p (iH3)
              td
                p Датчик мутности вне диапазона
            tr
              td
                p iB4
                p (iH4)
              td
                p Ошибка калибровки датчика мутности
            tr
              td
                p iCO
              td
                p
                  | Сигнал об ошибке отображается, если система связи не распознает какую-либо плату дисплея
            tr
              td
                p iC1
              td
                p
                  | После трех попыток установить связь в аппаратном управлении появляется сигнал об ошибке
            tr
              td
                p iC2
              td
                p Ошибка коммуникаций
            tr
              td
                p iC3
              td
                p Ошибка связи между платами
            tr
              td
                p iDO
              td
                p Ошибка тахометра
            tr
              td
                p Ю1
              td
                p Нет сигнала от тахометра
            tr
              td
                p iEO
              td
                p
                  | Требуемое положение регулятора потока не достигнуто в течение определенного времени
            tr
              td
                p iFO
              td
                p Переполнение
            tr
              td
                p iF1
              td
                p Высокий уровень воды


  .calc-banner.page-banner
    .page-banner-img
      img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/calculator.webp' alt="качественный ремонт посудомоечных машин с гарантией")
    .page-banner-content
      .page-banner-content__title 
        p 100% качественный ремонт посудомоечных машин на дому!
      .page-banner-content__text 
        p Свяжитесь с нами по телефонам  
        a(href=telNumber_1_int)= telNumber_1 
        |  или 
        a(href=telNumber_2_int)= telNumber_2 
        |  и мы проконсультируем Вас о стоимости ремонта Вашей техники
      .page-banner-content__text Также Вы можете оформить on-line заявку или заказать обратный звонок
      .page-banner-content-buttons
        .page-banner-button.button-order 
          | Оформить заявку
          br
          | on-line
        .page-banner-button.button-callback Заказать звонок

