.page-banner-1 {
  width: 100%;
  height: rem(200);
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  margin-bottom: rem(50);


  // @include justify-space-between;
  // flex-wrap: wrap;
  // margin-bottom: rem(50);
  @media screen and (max-width: 768px) {
    height: auto;
    grid-template-columns: 100%;
    grid-template-rows: 1fr auto;
  }
}
.page-banner-1__img {
  overflow: hidden;
  height: 100%;
  & img {
    height: 100%;
  }
  @media screen and (max-width: 768px) {   
    width: 100%;
    & img {
      margin: 0 auto;
    }

  }

}
.page-banner-1__text {
  width: 100%;
  height: rem(200);
  padding: rem(15);
  @include fontBody;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, $white, $colorSecond-2-05);
  box-sizing: border-box;
  @media screen and (max-width: 768px) {
   
    width: 100%;
    height: auto;
  }
  
}
.page-banner-1__title {
  font-size: rem(30);
  line-height: rem(35);
  text-transform: uppercase;
  font-weight: bold;
  color: $colorSecond-1;
  text-align: center;
  margin-bottom: rem(15);
  & span {
    text-align: center;
  }

}
.page-banner-1__subtitle {
  font-size: rem(24);
  line-height: rem(29);
  color: $colorSecond-1;
  text-align: center;
  margin-bottom: rem(15);
  & span {
    text-align: center;
  }

}
.page-banner-1-button-container {
  background-color: $white;
  


}
.page-banner-1__callback {
  @include size(rem(250), rem(60));
  border: 2px solid $colorMain-1;
  font-size: rem(20);
  @include justify-center;
  text-transform: uppercase;
  font-weight: bold;
  color: $white;
  background: linear-gradient(180deg, $colorMain-1, $colorMain-1-05);
  cursor: pointer;
  &:hover {
    background: linear-gradient(180deg, $colorMain-1-05, $colorMain-1, $colorMain-1-05);
    color: $colorSecond-2;
  }

}