- var domen = 'http://localhost:8081'
//- - var domen = 'https://www.rembtehnika.ru'
- var nameCompany = 'РемБытТехника'
- var city = 'Санкт-Петербург'
- var telNumber_1 = '8 (812) 507-84-64'
- var telNumber_1_int = 'tel:' + telNumber_1.replace(/[^+\d]/g, '');
- var telNumber_2 = "8 (981) 815-87-19"
- var telNumber_2_int = 'tel:' + telNumber_2.replace(/[^+\d]/g, '');
