extends ../../layout/main.pug

block variables
  - var title = 'О компании'
  - var descriptionContent = 'Компания РемБытТехника основана в 2005 году. а протяжении 15 лет наша деятельность напрямую связана с ремонтом и обслуживанием техники.'

block content
  include ../../../blocks/elements/elements.pug

  +bread-crumbs({ 
    'Главная': '/',
    'О компании': '#',
  })
  .education-page-wrapper
    H1.page-title-h1= title
    .education-description
      .page-text
        p Компания РемБытТехника основана в 2005 году. На протяжении 15 лет наша деятельность напрямую связана с ремонтом и обслуживанием техники.
        p Мы производим качественный ремонт крупной бытовой техники, а также ремонт компьютеров и телевизоров. 
        p Обратившись в нашу компанию Вы гарантированно получаете высокий уровень сервиса, грамотный и ответственный подход к любому ремонту.
        p 
          | В штате нашей компании более 50 мастеров по ремонту крупной бытовой техники и более 30 мастеров по ремонту компьютерной техники и телевизоров в Санкт-Петербурге.
        p 
          | Одной из основных задач нашей компании является создание положительной репутации в обществе. 
          | Мы строго контролируем результат выполнения работ своим персоналом, постоянно мониторим удовлетворенность клиента и следим за качеством сервиса.
        p Обращаясь к нам Вы можете быть уверены, что в Вашей технике будут установлены качественные запасные части за разумную цену.
        br
        p 
          span Вызвать мастера по ремонту бытовой техники вы можете по телефонам 
          a(href= telNumber_1_int)= telNumber_1
          span , 
          a(href= telNumber_2_int)= telNumber_2
          span .
          p 
            span Также Вы можете оформить 
            span.repair-page-questions__button-order.button-order заявку on-line  
            span на сайте и получить 10% скидку на ремонт, или заказать 
            span.repair-page-questions__button-order.button-callback обратный звонок.
        